src/com/sun/ts/tests/webservices/ejb/txattributes/TxService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions name="TxService" targetNamespace="http://Tx.org" xmlns:tns="http://Tx.org" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types/>
  <message name="Tx_txNever"/>
  <message name="Tx_txNeverResponse"/>
  <message name="Tx_txNotSupported"/>
  <message name="Tx_txNotSupportedResponse"/>
  <message name="Tx_txRequired"/>
  <message name="Tx_txRequiredResponse"/>
  <message name="Tx_txRequiresNew"/>
  <message name="Tx_txRequiresNewResponse"/>
  <message name="Tx_txSupports"/>
  <message name="Tx_txSupportsResponse"/>
  <portType name="Tx">
    <operation name="txNever" >
      <input message="tns:Tx_txNever"/>
      <output message="tns:Tx_txNeverResponse"/></operation>
    <operation name="txNotSupported" >
      <input message="tns:Tx_txNotSupported"/>
      <output message="tns:Tx_txNotSupportedResponse"/></operation>
    <operation name="txRequired" >
      <input message="tns:Tx_txRequired"/>
      <output message="tns:Tx_txRequiredResponse"/></operation>
    <operation name="txRequiresNew" >
      <input message="tns:Tx_txRequiresNew"/>
      <output message="tns:Tx_txRequiresNewResponse"/></operation>
    <operation name="txSupports" >
      <input message="tns:Tx_txSupports"/>
      <output message="tns:Tx_txSupportsResponse"/></operation></portType>
  <binding name="TxBinding" type="tns:Tx">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="txNever">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://Tx.org"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://Tx.org"/></output>
    </operation>
    <operation name="txNotSupported">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://Tx.org"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://Tx.org"/></output>
    </operation>
    <operation name="txRequired">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://Tx.org"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://Tx.org"/></output>
    </operation>
    <operation name="txRequiresNew">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://Tx.org"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://Tx.org"/></output>
    </operation>
    <operation name="txSupports">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://Tx.org"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://Tx.org"/></output>
    </operation>
  </binding>
  <service name="TxService">
    <port name="TxPort" binding="tns:TxBinding">
      <soap:address
      location="http://localhost:8000/TxAttributesTest_ejbRouter/Tx/TxPC"/></port></service></definitions>
