jaxws/src/main/java/com/sun/ts/tests/jaxws/mapping/w2jmapping/document/literal/noncustomization/W2JDLNoncustomization.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions name="W2JDLNonCustomization"
    targetNamespace="http://w2jdlnoncustomization/wsdl"
    xmlns:tns="http://w2jdlnoncustomization/wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:types="http://w2jdlnoncustomization/types"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

  <types>
    <xsd:schema targetNamespace="http://w2jdlnoncustomization/types" attributeFormDefault="qualified" elementFormDefault="qualified">
      <xsd:element name="HelloStringElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Hello2StringElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="OneWayStringElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Mode1StringElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Mode2StringElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Mode3StringElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HeaderStringElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="MyFaultReason">
           <xsd:complexType>
             <xsd:sequence>
               <xsd:element name="message" type="xsd:string"/>
             </xsd:sequence>
           </xsd:complexType>
      </xsd:element>

      <xsd:element name="MyHeader">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="message" type="xsd:string" minOccurs="0"/>
              <xsd:element name="mustUnderstand" type="xsd:boolean"/>
              <xsd:element name="testName" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
      </xsd:element>

      <xsd:element name="ConfigHeader">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="message" type="xsd:string" minOccurs="0"/>
              <xsd:element name="mustUnderstand" type="xsd:boolean"/>
            </xsd:sequence>
          </xsd:complexType>
      </xsd:element>

      <xsd:element name="WrapperElement1">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="WrapperElement11">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument2" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NWrapperElement2">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NWrapperElement22">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument2" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <message name="hello">
    <part name="parameter" element="types:HelloStringElement"/>
  </message>
  <message name="helloResponse">
    <part name="result" element="types:HelloStringElement"/>
  </message>

  <message name="hello2">
    <part name="parameter" element="types:Hello2StringElement"/>
  </message>
  <message name="hello2Response">
    <part name="result" element="types:Hello2StringElement"/>
  </message>

  <message name="oneway">
    <part name="varString" element="types:OneWayStringElement"/>
  </message>

  <message name="mode1">
    <part name="varString" element="types:Mode1StringElement" />
  </message>
  <message name="mode1Response"/>

  <message name="mode2">
    <part name="varString" element="types:Mode2StringElement" />
  </message>
  <message name="mode2Response">
    <part name="varString" element="types:Mode2StringElement" />
  </message>

  <message name="mode3"/>
  <message name="mode3Response">
    <part name="varString" element="types:Mode3StringElement" />
  </message>

  <message name="WrapperElement1">
    <part name="parameter" element="types:WrapperElement1"/>
  </message>
  <message name="WrapperElement1Response">
    <part name="result" element="types:WrapperElement11"/>
  </message>
  <message name="NWrapperElement2">
    <part name="parameter" element="types:NWrapperElement2"/>
  </message>
  <message name="NWrapperElement2Response">
    <part name="result" element="types:NWrapperElement22"/>
  </message>

  <message name="MyFault">
    <part name="MyFault" element="types:MyFaultReason"/>
  </message>
  <message name="HisFault">
    <part name="HisFault" element="types:MyFaultReason"/>
  </message>
  <message name="MyHeader">
    <part name="MyHeader" element="types:MyHeader"/>
  </message>

  <message name="HeaderHeader">
    <part name="parameter" element="types:HeaderStringElement"/>
    <part name="ConfigHeader" element="types:ConfigHeader"/>
  </message>
  
  <message name="HeaderHeaderResponse">
    <part name="result" element="types:HeaderStringElement"/>
  </message>
  
  <message name="AFault1">
    <part name="AFault1" element="types:MyFaultReason"/>
  </message>

  <message name="AFault2">
    <part name="AFault2" element="types:MyFaultReason"/>
  </message>

  <portType name="W2JDLNoncustomizationEndpoint">
    <operation name="helloOperation">
      <input message="tns:hello"/>
      <output message="tns:helloResponse"/>
      <fault name="MyFault" message="tns:MyFault"/>
    </operation>
    <operation name="helloOperation2">
      <input message="tns:hello2"/>
      <output message="tns:hello2Response"/>
      <fault name="HisFault" message="tns:MyFault"/>
    </operation>
    <operation name="onewayOperation">
      <input message="tns:oneway"/>
    </operation>
    <operation name="mode1Operation" parameterOrder="varString">
      <input message="tns:mode1"/>
      <output message="tns:mode1Response"/>
    </operation>
    <operation name="mode2Operation" parameterOrder="varString">
      <input message="tns:mode2"/>
      <output message="tns:mode2Response"/>
    </operation>
    <operation name="mode3Operation" parameterOrder="varString">
      <input message="tns:mode3"/>
      <output message="tns:mode3Response"/>
    </operation>
    <operation name="WrapperElement1" >
      <input message="tns:WrapperElement1"/>
      <output message="tns:WrapperElement1Response"/>
    </operation>
    <operation name="NonWrapperElement2" >
      <input message="tns:NWrapperElement2"/>
      <output message="tns:NWrapperElement2Response"/>
    </operation>
    <operation name="operationWithHeaderAndFaults">
      <input message="tns:HeaderHeader"/>
      <output message="tns:HeaderHeaderResponse"/>
      <fault name="AFault1" message="tns:AFault1"/>
      <fault name="AFault2" message="tns:AFault2"/>
    </operation>
  </portType>
  <binding name="W2JDLNoncustomizationEndpointBinding" type="tns:W2JDLNoncustomizationEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="helloOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:MyHeader" part="MyHeader" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MyFault">
        <soap:fault name="MyFault" use="literal"/>
      </fault>
    </operation>
    <operation name="helloOperation2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:MyHeader" part="MyHeader" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="HisFault">
        <soap:fault name="HisFault" use="literal"/>
      </fault>
    </operation>
    <operation name="onewayOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="mode1Operation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="varString"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="mode2Operation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="varString"/>
      </input>
      <output>
        <soap:body use="literal" parts="varString"/>
      </output>
    </operation>
    <operation name="mode3Operation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal" parts="varString"/>
      </output>
    </operation>
    <operation name="WrapperElement1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="NonWrapperElement2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="operationWithHeaderAndFaults">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameter"/>
        <soap:header message="tns:HeaderHeader" part="ConfigHeader" use="literal">
	</soap:header>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AFault1">
        <soap:fault name="AFault1" use="literal"/>
      </fault>
      <fault name="AFault2">
        <soap:fault name="AFault2" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="W2JDLNoncustomization">
    <port name="W2JDLNoncustomizationEndpointPort" binding="tns:W2JDLNoncustomizationEndpointBinding">
      <soap:address location="http://foo:9999/bar"/>
    </port>
  </service>
</definitions>
