src/com/sun/ts/tests/jaxws/wsa/w2j/document/literal/eprinwsdl/EPRInWsdlTestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions
    name="EPRInWsdlTestService"
    targetNamespace="http://eprinwsdltestservice.org/wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://eprinwsdltestservice.org/wsdl"
    xmlns:s="http://eprinwsdltestservice.org/xsd"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">

    <types>
          <schema xmlns="http://www.w3.org/2001/XMLSchema"
               targetNamespace="http://eprinwsdltestservice.org/xsd"
               xmlns:xmime="http://www.w3.org/2005/05/xmlmime" 
               elementFormDefault="qualified">

                 <complexType name="DataType">
                     <sequence>
                         <element name="param" type="string"/>
                     </sequence>
                 </complexType>
                 <element name="DataType" type="s:DataType"/>
          </schema>
    </types>
    <message name="Request">
        <part name="data" element="s:DataType"/>
    </message>
    <message name="Response">
        <part name="data" element="s:DataType"/>
    </message>

     <portType name="Test1">
          <operation name="TestOperation">
               <input message="tns:Request" />
               <output message="tns:Response" />
          </operation>
     </portType>

     <binding name="Test1Binding" type="tns:Test1">
          <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
          <operation name="TestOperation">
               <soap:operation soapAction=""/>
               <input>
                    <soap:body use="literal"/>
               </input>
               <output>
                    <soap:body use="literal"/>
               </output>
          </operation>
     </binding>

  <service name="EPRInWsdlTestService">
    <port name="Test1Port" binding="tns:Test1Binding">
      <soap:address location="http://foo:9999/bar"/>
      <wsa:EndpointReference
	xmlns:wsa="http://www.w3.org/2005/08/addressing"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:tns="http://eprinwsdltestservice.org/wsdl">
        <wsa:Address>http://www.w3.org/2005/08/addressing/none</wsa:Address>
        <wsa:ReferenceParameters>
           <myns1:MyParam1 xmlns:myns1="http://eprinwsdltestservice.org/myns1">Hello</myns1:MyParam1>
           <myns2:MyParam2 xmlns:myns2="http://eprinwsdltestservice.org/myns2">There</myns2:MyParam2>
        </wsa:ReferenceParameters>
        <wsa:Metadata>
           <wsam:ServiceName EndpointName="Test1Port">tns:EPRInWsdlTestService</wsam:ServiceName>
           <wsam:InterfaceName>tns:Test1</wsam:InterfaceName>
        </wsa:Metadata>
      </wsa:EndpointReference>
    </port>
  </service>
</definitions>
