src/com/sun/ts/tests/ejb/ee/webservices/allowedmethodstest/bm/TestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions name="TestService" targetNamespace="urn:Test" xmlns:tns="urn:Test" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types/>
  <message name="Test_businessMethod"/>
  <message name="Test_businessMethodResponse">
    <part name="result" type="xsd:boolean"/></message>
  <message name="Test_getCallerPrincipalTest">
    <part name="String_1" type="xsd:string"/></message>
  <message name="Test_getCallerPrincipalTestResponse">
    <part name="result" type="xsd:boolean"/></message>
  <portType name="Test">
    <operation name="businessMethod">
      <input message="tns:Test_businessMethod"/>
      <output message="tns:Test_businessMethodResponse"/>
    </operation>
    <operation name="getCallerPrincipalTest" parameterOrder="String_1">
      <input message="tns:Test_getCallerPrincipalTest"/>
      <output message="tns:Test_getCallerPrincipalTestResponse"/>
    </operation>
  </portType>
  <binding name="TestBinding" type="tns:Test">
  <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="businessMethod">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:Test"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:Test"/>
      </output>
    </operation>
    <operation name="getCallerPrincipalTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:Test"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:Test"/>
      </output>
    </operation>
    </binding>
  <service name="TestService">
    <port name="TestPort" binding="tns:TestBinding">
      <soap:address location="http://localhost:8000/wsallowedmethodsbm/Test"/></port></service></definitions>
