src/com/sun/ts/tests/jaxws/wsi/w2j/rpc/literal/R273X/W2JRLR273XTestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2003, 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="W2JRLR273XTestService"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="http://w2jrlr273Xtestservice.org/W2JRLR273XTestService.wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://w2jrlr273Xtestservice.org/W2JRLR273XTestService.wsdl"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd1="http://w2jrlr273Xtestservice.org/xsd">

    <types>
        <schema targetNamespace="http://w2jrlr273Xtestservice.org/xsd"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://w2jrlr273Xtestservice.org/xsd"
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
    		<complexType name="FooBar">
		    <sequence>
                	<element ref="tns:foo"/>
                	<element ref="tns:bar"/>
		    </sequence>
		</complexType>
	        <element name="foo" type="string"/>
	        <element name="bar" type="string"/>
        </schema>
    </types>
    
    <message name="FooBarRequest">
        <part name="fooBarRequest" type="xsd1:FooBar"/>
    </message>
    <message name="FooBarResponse">
        <part name="fooBarResponse" type="xsd1:FooBar"/>
    </message>
        
    <portType name="W2JRLR273XTest1">
    	<operation name="echoFooBar">
            <input message="tns:FooBarRequest"/>
            <output message="tns:FooBarResponse"/>
    	</operation>
    </portType>
        
    <portType name="W2JRLR273XTest2">
    	<operation name="echoFooBar">
            <input message="tns:FooBarRequest"/>
            <output message="tns:FooBarResponse"/>
    	</operation>
    </portType>

    <binding name="W2JRLR273XTest1Binding" type="tns:W2JRLR273XTest1">
    	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    	<operation name="echoFooBar">
    		<soap:operation/>
            <input>
                <soap:body use="literal" namespace="http://w2jrlr273Xtestservice.org/W2JRLR273XTestService.wsdl"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://w2jrlr273Xtestservice.org/W2JRLR273XTestService.wsdl"/>
            </output>
    	</operation>
    </binding>

    <binding name="W2JRLR273XTest2Binding" type="tns:W2JRLR273XTest2">
    	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    	<operation name="echoFooBar">
    		<soap:operation/>
            <input>
                <soap:body use="literal" namespace="http://w2jrlr273Xtestservice.org/W2JRLR273XTestService.wsdl"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://w2jrlr273Xtestservice.org/W2JRLR273XTestService.wsdl"/>
            </output>
    	</operation>
    </binding>

    <service name="W2JRLR273XTestService">
        <port binding="tns:W2JRLR273XTest1Binding"
            name="W2JRLR273XTest1Port">
            <soap:address
                location="http://foo:9999/bar"/>
        </port>
        <port binding="tns:W2JRLR273XTest2Binding"
            name="W2JRLR273XTest2Port">
            <soap:address
                location="http://foo:9999/bar"/>
        </port>
    </service>
    
</definitions>
