webservices12/src/test/java/com/sun/ts/tests/webservices12/ejb/annotations/WSEjbWebServiceRefTest1/HelloService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://Hello.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="HelloService" targetNamespace="http://Hello.org">
  <types />
  <message name="Hello_bye">
    <part name="String_1" type="xsd:string" />
  </message>
  <message name="Hello_byeResponse">
    <part name="result" type="xsd:string" />
  </message>
  <message name="Hello_hello">
    <part name="String_1" type="xsd:string" />
  </message>
  <message name="Hello_helloResponse">
    <part name="result" type="xsd:string" />
  </message>
  <portType name="Hello">
    <operation name="bye" parameterOrder="String_1">
      <input message="tns:Hello_bye" />
      <output message="tns:Hello_byeResponse" />
    </operation>
    <operation name="hello" parameterOrder="String_1">
      <input message="tns:Hello_hello" />
      <output message="tns:Hello_helloResponse" />
    </operation>
  </portType>
  <binding name="HelloBinding" type="tns:Hello">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="bye">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://Hello.org" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://Hello.org" />
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://Hello.org" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://Hello.org" />
      </output>
    </operation>
  </binding>
  <service name="WSEjbWebServiceRefTest1HelloService">
    <port name="HelloPort" binding="tns:HelloBinding">
      <soap:address location="http://foo:9999/bar"/>
    </port>
  </service>
</definitions>

