src/com/sun/ts/tests/internal/implementation/sjsas/jaxrpc/com/sun/xml/rpc/wsdl/data/test/etc/wsdl/AmazonWebServices.wsdl

<?xml version="1.0"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!-- WSDL description of Amazon.com's Web Services APIs.
     Amazon.com's Web Services APIs are in beta release. All interfaces are subject to 
     change as we refine and extend our APIs. Please see the terms of use 
     for more information. -->
<definitions name="AmazonSearch" targetNamespace="urn:PI/DevCentral/SoapService" xmlns:typens="urn:PI/DevCentral/SoapService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema xmlns="" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:PI/DevCentral/SoapService">
			<xsd:complexType name="ProductInfo">
				<xsd:all>
					<xsd:element name="Details" type="typens:DetailsArray"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Details">
				<xsd:all>
					<xsd:element name="Url" type="xsd:string"/>
					<xsd:element name="Asin" type="xsd:string"/>
					<xsd:element name="ProductName" type="xsd:string"/>
					<xsd:element name="Catalog" type="xsd:string"/>
					<xsd:element name="KeyPhrases" type="typens:KeyPhraseArray"/>
					<xsd:element name="Artists" type="typens:ArtistArray"/>
					<xsd:element name="Authors" type="typens:AuthorArray"/>
					<xsd:element name="Mpn" type="xsd:string"/>
					<xsd:element name="Starring" type="typens:StarringArray"/>
					<xsd:element name="Directors" type="typens:DirectorArray"/>
					<xsd:element name="TheatricalReleaseDate" type="xsd:string"/>
					<xsd:element name="ReleaseDate" type="xsd:string"/>
					<xsd:element name="Manufacturer" type="xsd:string"/>
					<xsd:element name="Distributor" type="xsd:string"/>
					<xsd:element name="ImageUrlSmall" type="xsd:string"/>
					<xsd:element name="ImageUrlMedium" type="xsd:string"/>
					<xsd:element name="ImageUrlLarge" type="xsd:string"/>
					<xsd:element name="ListPrice" type="xsd:string"/>
					<xsd:element name="OurPrice" type="xsd:string"/>
					<xsd:element name="UsedPrice" type="xsd:string"/>
					<xsd:element name="RefurbishedPrice" type="xsd:string"/>
					<xsd:element name="CollectiblePrice" type="xsd:string"/>
					<xsd:element name="ThirdPartyNewPrice" type="xsd:string"/>
					<xsd:element name="SalesRank" type="xsd:string"/>
					<xsd:element name="BrowseList" type="typens:BrowseNodeArray"/>
					<xsd:element name="Media" type="xsd:string"/>
					<xsd:element name="ReadingLevel" type="xsd:string"/>
					<xsd:element name="Publisher" type="xsd:string"/>
					<xsd:element name="NumMedia" type="xsd:string"/>
					<xsd:element name="Isbn" type="xsd:string"/>
					<xsd:element name="Features" type="typens:FeaturesArray"/>
					<xsd:element name="MpaaRating" type="xsd:string"/>
					<xsd:element name="EsrbRating" type="xsd:string"/>
					<xsd:element name="AgeGroup" type="xsd:string"/>
					<xsd:element name="Availability" type="xsd:string"/>
					<xsd:element name="Upc" type="xsd:string"/>
					<xsd:element name="Tracks" type="typens:TrackArray"/>
					<xsd:element name="Accessories" type="typens:AccessoryArray"/>
					<xsd:element name="Platforms" type="typens:PlatformArray"/>
					<xsd:element name="Encoding" type="xsd:string"/>
					<xsd:element name="Reviews" type="typens:Reviews"/>
					<xsd:element name="SimilarProducts" type="typens:SimilarProductsArray"/>
					<xsd:element name="Lists" type="typens:ListsArray"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="DetailsArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:Details[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="KeyPhraseArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:KeyPhrase[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="KeyPhrase">
				<xsd:all>
					<xsd:element name="KeyPhrase" type="xsd:string"/>
					<xsd:element name="Type" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="AuthorArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="FeaturesArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="TrackArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:Track[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="Track">
				<xsd:all>
					<xsd:element name="TrackName" type="xsd:string"/>
					<xsd:element name="ByArtist" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="AccessoryArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ArtistArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="PlatformArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="StarringArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="DirectorArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="BrowseNodeArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:BrowseNode[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="BrowseNode">
				<xsd:all>
					<xsd:element name="BrowseId" type="xsd:string"/>
					<xsd:element name="BrowseName" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Reviews">
				<xsd:all>
					<xsd:element name="AvgCustomerRating" type="xsd:string"/>
					<xsd:element name="CustomerReviews" type="typens:CustomerReviewArray"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="CustomerReviewArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:CustomerReview[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="CustomerReview">
				<xsd:all>
					<xsd:element name="Rating" type="xsd:string"/>
					<xsd:element name="Summary" type="xsd:string"/>
					<xsd:element name="Comment" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="SimilarProductsArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ListsArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="KeywordRequest">
				<xsd:all>
					<xsd:element name="keyword" type="xsd:string"/>
					<xsd:element name="page" type="xsd:string"/>
					<xsd:element name="mode" type="xsd:string"/>
					<xsd:element name="tag" type="xsd:string"/>
					<xsd:element name="type" type="xsd:string"/>
					<xsd:element name="devtag" type="xsd:string"/>
					<xsd:element name="version" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="BrowseNodeRequest">
				<xsd:all>
					<xsd:element name="browse_node" type="xsd:string"/>
					<xsd:element name="page" type="xsd:string"/>
					<xsd:element name="mode" type="xsd:string"/>
					<xsd:element name="tag" type="xsd:string"/>
					<xsd:element name="type" type="xsd:string"/>
					<xsd:element name="devtag" type="xsd:string"/>
					<xsd:element name="version" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="AsinRequest">
				<xsd:all>
					<xsd:element name="asin" type="xsd:string"/>
					<xsd:element name="tag" type="xsd:string"/>
					<xsd:element name="type" type="xsd:string"/>
					<xsd:element name="devtag" type="xsd:string"/>
					<xsd:element name="version" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="UpcRequest">
				<xsd:all>
					<xsd:element name="upc" type="xsd:string"/>
					<xsd:element name="mode" type="xsd:string"/>
					<xsd:element name="tag" type="xsd:string"/>
					<xsd:element name="type" type="xsd:string"/>
					<xsd:element name="devtag" type="xsd:string"/>
					<xsd:element name="version" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArtistRequest">
				<xsd:all>
					<xsd:element name="artist" type="xsd:string"/>
					<xsd:element name="page" type="xsd:string"/>
					<xsd:element name="mode" type="xsd:string"/>
					<xsd:element name="tag" type="xsd:string"/>
					<xsd:element name="type" type="xsd:string"/>
					<xsd:element name="devtag" type="xsd:string"/>
					<xsd:element name="version" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="AuthorRequest">
				<xsd:all>
					<xsd:element name="author" type="xsd:string"/>
					<xsd:element name="page" type="xsd:string"/>
					<xsd:element name="mode" type="xsd:string"/>
					<xsd:element name="tag" type="xsd:string"/>
					<xsd:element name="type" type="xsd:string"/>
					<xsd:element name="devtag" type="xsd:string"/>
					<xsd:element name="version" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ActorRequest">
				<xsd:all>
					<xsd:element name="actor" type="xsd:string"/>
					<xsd:element name="page" type="xsd:string"/>
					<xsd:element name="mode" type="xsd:string"/>
					<xsd:element name="tag" type="xsd:string"/>
					<xsd:element name="type" type="xsd:string"/>
					<xsd:element name="devtag" type="xsd:string"/>
					<xsd:element name="version" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="DirectorRequest">
				<xsd:all>
					<xsd:element name="director" type="xsd:string"/>
					<xsd:element name="page" type="xsd:string"/>
					<xsd:element name="mode" type="xsd:string"/>
					<xsd:element name="tag" type="xsd:string"/>
					<xsd:element name="type" type="xsd:string"/>
					<xsd:element name="devtag" type="xsd:string"/>
					<xsd:element name="version" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ManufacturerRequest">
				<xsd:all>
					<xsd:element name="manufacturer" type="xsd:string"/>
					<xsd:element name="page" type="xsd:string"/>
					<xsd:element name="mode" type="xsd:string"/>
					<xsd:element name="tag" type="xsd:string"/>
					<xsd:element name="type" type="xsd:string"/>
					<xsd:element name="devtag" type="xsd:string"/>
					<xsd:element name="version" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ListManiaRequest">
				<xsd:all>
					<xsd:element name="lm_id" type="xsd:string"/>
					<xsd:element name="page" type="xsd:string"/>
					<xsd:element name="mode" type="xsd:string"/>
					<xsd:element name="tag" type="xsd:string"/>
					<xsd:element name="type" type="xsd:string"/>
					<xsd:element name="devtag" type="xsd:string"/>
					<xsd:element name="version" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="SimilarityRequest">
				<xsd:all>
					<xsd:element name="asin" type="xsd:string"/>
					<xsd:element name="mode" type="xsd:string"/>
					<xsd:element name="tag" type="xsd:string"/>
					<xsd:element name="type" type="xsd:string"/>
					<xsd:element name="devtag" type="xsd:string"/>
					<xsd:element name="version" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<!-- Messages for Amazon Web APIs -->
	<message name="KeywordSearchRequest">
		<part name="KeywordSearchRequest" type="typens:KeywordRequest"/>
	</message>
	<message name="KeywordSearchResponse">
		<part name="return" type="typens:ProductInfo"/>
	</message>
	<message name="BrowseNodeSearchRequest">
		<part name="BrowseNodeSearchRequest" type="typens:BrowseNodeRequest"/>
	</message>
	<message name="BrowseNodeSearchResponse">
		<part name="return" type="typens:ProductInfo"/>
	</message>
	<message name="AsinSearchRequest">
		<part name="AsinSearchRequest" type="typens:AsinRequest"/>
	</message>
	<message name="AsinSearchResponse">
		<part name="return" type="typens:ProductInfo"/>
	</message>
	<message name="UpcSearchRequest">
		<part name="UpcSearchRequest" type="typens:UpcRequest"/>
	</message>
	<message name="UpcSearchResponse">
		<part name="return" type="typens:ProductInfo"/>
	</message>
	<message name="AuthorSearchRequest">
		<part name="AuthorSearchRequest" type="typens:AuthorRequest"/>
	</message>
	<message name="AuthorSearchResponse">
		<part name="return" type="typens:ProductInfo"/>
	</message>
	<message name="ArtistSearchRequest">
		<part name="ArtistSearchRequest" type="typens:ArtistRequest"/>
	</message>
	<message name="ArtistSearchResponse">
		<part name="return" type="typens:ProductInfo"/>
	</message>
	<message name="ActorSearchRequest">
		<part name="ActorSearchRequest" type="typens:ActorRequest"/>
	</message>
	<message name="ActorSearchResponse">
		<part name="return" type="typens:ProductInfo"/>
	</message>
	<message name="DirectorSearchRequest">
		<part name="DirectorSearchRequest" type="typens:DirectorRequest"/>
	</message>
	<message name="DirectorSearchResponse">
		<part name="return" type="typens:ProductInfo"/>
	</message>
	<message name="ManufacturerSearchRequest">
		<part name="ManufacturerSearchRequest" type="typens:ManufacturerRequest"/>
	</message>
	<message name="ManufacturerSearchResponse">
		<part name="return" type="typens:ProductInfo"/>
	</message>
	<message name="ListManiaSearchRequest">
		<part name="ListManiaSearchRequest" type="typens:ListManiaRequest"/>
	</message>
	<message name="ListManiaSearchResponse">
		<part name="return" type="typens:ProductInfo"/>
	</message>
	<message name="SimilaritySearchRequest">
		<part name="SimilaritySearchRequest" type="typens:SimilarityRequest"/>
	</message>
	<message name="SimilaritySearchResponse">
		<part name="return" type="typens:ProductInfo"/>
	</message>
	<!-- Port for Amazon Web APIs -->
	<portType name="AmazonSearchPort">
		<operation name="KeywordSearchRequest">
			<input message="typens:KeywordSearchRequest"/>
			<output message="typens:KeywordSearchResponse"/>
		</operation>
		<operation name="BrowseNodeSearchRequest">
			<input message="typens:BrowseNodeSearchRequest"/>
			<output message="typens:BrowseNodeSearchResponse"/>
		</operation>
		<operation name="AsinSearchRequest">
			<input message="typens:AsinSearchRequest"/>
			<output message="typens:AsinSearchResponse"/>
		</operation>
		<operation name="UpcSearchRequest">
			<input message="typens:UpcSearchRequest"/>
			<output message="typens:UpcSearchResponse"/>
		</operation>
		<operation name="AuthorSearchRequest">
			<input message="typens:AuthorSearchRequest"/>
			<output message="typens:AuthorSearchResponse"/>
		</operation>
		<operation name="ArtistSearchRequest">
			<input message="typens:ArtistSearchRequest"/>
			<output message="typens:ArtistSearchResponse"/>
		</operation>
		<operation name="ActorSearchRequest">
			<input message="typens:ActorSearchRequest"/>
			<output message="typens:ActorSearchResponse"/>
		</operation>
		<operation name="ManufacturerSearchRequest">
			<input message="typens:ManufacturerSearchRequest"/>
			<output message="typens:ManufacturerSearchResponse"/>
		</operation>
		<operation name="DirectorSearchRequest">
			<input message="typens:DirectorSearchRequest"/>
			<output message="typens:DirectorSearchResponse"/>
		</operation>
		<operation name="ListManiaSearchRequest">
			<input message="typens:ListManiaSearchRequest"/>
			<output message="typens:ListManiaSearchResponse"/>
		</operation>
		<operation name="SimilaritySearchRequest">
			<input message="typens:SimilaritySearchRequest"/>
			<output message="typens:SimilaritySearchResponse"/>
		</operation>
	</portType>
	<!-- Binding for Amazon Web APIs - RPC, SOAP over HTTP -->
	<binding name="AmazonSearchBinding" type="typens:AmazonSearchPort">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="KeywordSearchRequest">
			<soap:operation soapAction="urn:PI/DevCentral/SoapService"/>
			<input>
				<soap:body use="encoded" namespace="urn:PI/DevCentral/SoapService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:PI/DevCentral/SoapService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="BrowseNodeSearchRequest">
			<soap:operation soapAction="urn:PI/DevCentral/SoapService"/>
			<input>
				<soap:body use="encoded" namespace="urn:PI/DevCentral/SoapService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:PI/DevCentral/SoapService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="AsinSearchRequest">
			<soap:operation soapAction="urn:PI/DevCentral/SoapService"/>
			<input>
				<soap:body use="encoded" namespace="urn:PI/DevCentral/SoapService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:PI/DevCentral/SoapService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="UpcSearchRequest">
			<soap:operation soapAction="urn:PI/DevCentral/SoapService"/>
			<input>
				<soap:body use="encoded" namespace="urn:PI/DevCentral/SoapService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:PI/DevCentral/SoapService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="AuthorSearchRequest">
			<soap:operation soapAction="urn:PI/DevCentral/SoapService"/>
			<input>
				<soap:body use="encoded" namespace="urn:PI/DevCentral/SoapService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:PI/DevCentral/SoapService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ArtistSearchRequest">
			<soap:operation soapAction="urn:PI/DevCentral/SoapService"/>
			<input>
				<soap:body use="encoded" namespace="urn:PI/DevCentral/SoapService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:PI/DevCentral/SoapService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ActorSearchRequest">
			<soap:operation soapAction="urn:PI/DevCentral/SoapService"/>
			<input>
				<soap:body use="encoded" namespace="urn:PI/DevCentral/SoapService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:PI/DevCentral/SoapService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ManufacturerSearchRequest">
			<soap:operation soapAction="urn:PI/DevCentral/SoapService"/>
			<input>
				<soap:body use="encoded" namespace="urn:PI/DevCentral/SoapService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:PI/DevCentral/SoapService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="DirectorSearchRequest">
			<soap:operation soapAction="urn:PI/DevCentral/SoapService"/>
			<input>
				<soap:body use="encoded" namespace="urn:PI/DevCentral/SoapService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:PI/DevCentral/SoapService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ListManiaSearchRequest">
			<soap:operation soapAction="urn:PI/DevCentral/SoapService"/>
			<input>
				<soap:body use="encoded" namespace="urn:PI/DevCentral/SoapService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:PI/DevCentral/SoapService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="SimilaritySearchRequest">
			<soap:operation soapAction="urn:PI/DevCentral/SoapService"/>
			<input>
				<soap:body use="encoded" namespace="urn:PI/DevCentral/SoapService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:PI/DevCentral/SoapService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<!-- Endpoint for Amazon Web APIs -->
	<service name="AmazonSearchService">
		<port name="AmazonSearchPort" binding="typens:AmazonSearchBinding">
			<soap:address location="http://soap.amazon.com/onca/soap"/>
		</port>
	</service>
</definitions>
