src/com/sun/ts/tests/internal/implementation/sjsas/jaxrpc/com/sun/xml/rpc/wsdl/data/test/etc/wsdl/enum2.wsdl

<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions
  name="HelloTest"
  targetNamespace="urn:test"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="urn:test"
  xmlns:types="urn:test:schema">
  
  <types>
    <schema targetNamespace="urn:test:schema" xmlns="http://www.w3.org/2001/XMLSchema">
        <simpleType name="StringEnum">
            <restriction base="xsd:string">
                <enumeration value="green"/>
                <enumeration value="blue"/>
            </restriction>
        </simpleType>
        <simpleType name="IntegerEnum">
            <restriction base="xsd:integer">
                <enumeration value="123456789"/>
                <enumeration value="987654321"/>
            </restriction>
        </simpleType>
        <simpleType name="IntEnum">
            <restriction base="xsd:int">
                <enumeration value="111"/>
                <enumeration value="222"/>
                <enumeration value="333"/>
            </restriction>
        </simpleType>
        <simpleType name="LongEnum">
            <restriction base="xsd:long">
                <enumeration value="11111111"/>
                <enumeration value="22222222"/>
                <enumeration value="33333333"/>
            </restriction>
        </simpleType>
        <simpleType name="ShortEnum">
            <restriction base="xsd:short">
                <enumeration value="11"/>
                <enumeration value="22"/>
                <enumeration value="33"/>
            </restriction>
        </simpleType>
        <simpleType name="DecimalEnum">
            <restriction base="xsd:decimal">
                <enumeration value="111.234567"/>
                <enumeration value="222.345678"/>
                <enumeration value="333.456789"/>
            </restriction>
        </simpleType>
        <simpleType name="FloatEnum">
            <restriction base="xsd:float">
                <enumeration value="111.234"/>
                <enumeration value="222.345"/>
                <enumeration value="333.456"/>
            </restriction>
        </simpleType>
        <simpleType name="DoubleEnum">
            <restriction base="xsd:double">
                <enumeration value="111111.234"/>
                <enumeration value="222222.345"/>
                <enumeration value="333333.456"/>
            </restriction>
        </simpleType>
        <simpleType name="ByteEnum">
            <restriction base="xsd:byte">
                <enumeration value="1"/>
                <enumeration value="2"/>
                <enumeration value="3"/>
            </restriction>
        </simpleType>
        <simpleType name="QNameEnum">
            <restriction base="xsd:QName">
                <enumeration value="{http://foo/bar}abc"/>
                <enumeration value="{http://foo/bar}xyz"/>
            </restriction>
        </simpleType>
    </schema>
  </types>

  <message name="HelloRequest">
    <part name="arg1" type="types:StringEnum"/>
    <part name="arg2" type="types:IntegerEnum"/>
    <part name="arg3" type="types:IntEnum"/>
    <part name="arg4" type="types:LongEnum"/>
    <part name="arg5" type="types:ShortEnum"/>
    <part name="arg6" type="types:DecimalEnum"/>
    <part name="arg7" type="types:FloatEnum"/>
    <part name="arg8" type="types:DoubleEnum"/>
    <part name="arg9" type="types:ByteEnum"/>
<!--    <part name="arg10" type="types:QNameEnum"/> -->
  </message>
  
  <message name="HelloResponse">
  </message>  
  
  <portType name="Hello">
    <operation name="hello">
      <input message="tns:HelloRequest"/>
      <output message="tns:HelloResponse"/>
    </operation>  
  </portType>
  
  <binding name="HelloBinding" type="tns:Hello">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="hello">
      <soap:operation soapAction="urn:test:hello"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:test"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:test"/>
      </output>
    </operation>      
  </binding>
    
  <service name="HelloService">
    <port name="HelloPort" binding="tns:HelloBinding">
      <soap:address location="http://test.org/hello"/>
    </port>
  </service>
  
</definitions>
