src/com/sun/ts/tests/internal/implementation/sjsas/jaxrpc/com/sun/xml/rpc/wsdl/data/test/etc/wsdl/header.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions name="InteropTest"
	xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:s0="http://soapinterop.org/xsd" 
	xmlns:tns="http://soapinterop.org" 
	targetNamespace="http://soapinterop.org" 
	xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema targetNamespace="http://soapinterop.org/xsd">
      <s:complexType name="SOAPStruct">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="varString" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="varInt" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="varFloat" type="s:float" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
	<message name="echoHeaderString_Request">
		<part name="echoMeStringRequest" type="s:string"/>
	</message>
	<message name="echoHeaderString_Response">
		<part name="echoMeStringResponse" type="s:string"/>
	</message>
	<message name="echoHeaderStruct_Request">
		<part name="echoMeStructRequest" type="s0:SOAPStruct"/>
	</message>
	<message name="echoHeaderStruct_Response">
		<part name="echoMeStructResponse" type="s0:SOAPStruct"/>
	</message>
  <message name="echoVoidSoapIn" />
  <message name="echoVoidSoapOut" />
  <portType name="InteropEchoHeaderPortType">
    <operation name="echoVoid">
      <input message="tns:echoVoidSoapIn" />
      <output message="tns:echoVoidSoapOut" />
    </operation>
  </portType>
  <binding name="InteropEchoHeaderBinding" type="tns:InteropEchoHeaderPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="echoVoid">
      <soap:operation soapAction="http://soapinterop.org/" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        <soap:header use="encoded" message="tns:echoHeaderString_Request" part="echoMeStringRequest" namespace="http://soapinterop.org/echoheader/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
	<soap:header use="encoded" message="tns:echoHeaderStruct_Request" part="echoMeStructRequest" namespace="http://soapinterop.org/echoheader/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        <soap:header use="encoded" message="tns:echoHeaderString_Response" part="echoMeStringResponse" namespace="http://soapinterop.org/echoheader/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
	<soap:header use="encoded" message="tns:echoHeaderStruct_Response" part="echoMeStructResponse" namespace="http://soapinterop.org/echoheader/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="interopLabEchoHeader">
    <port name="interopPortEchoHdr" binding="tns:InteropEchoHeaderBinding">
      <soap:address location="http://mssoapinterop.org/stk/InteropC.wsdl" />
    </port>
  </service>
</definitions>
