src/com/sun/ts/tests/internal/implementation/sjsas/jaxrpc/com/sun/xml/rpc/wsdl/data/test/etc/wsdl/Interface_Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions name="Interface_Service" targetNamespace="http://echoservice.org/wsdl" xmlns:tns="http://echoservice.org/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://echoservice.org/types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://echoservice.org/types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://echoservice.org/types" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="FooInterface">
        <sequence>
          <element name="l" type="long"/>
          <element name="i2" type="short"/></sequence></complexType>
      <complexType name="ArrayOfFooInterface">
        <complexContent>
          <restriction base="soap-enc:Array">
            <attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:FooInterface[]"/></restriction></complexContent></complexType>
      <complexType name="FooBase">
        <complexContent>
          <extension base="tns:FooInterface">
            <sequence>
              <element name="SA" type="tns:ArrayOfstring"/></sequence></extension></complexContent></complexType>
      <complexType name="ArrayOfstring">
        <complexContent>
          <restriction base="soap-enc:Array">
            <attribute ref="soap-enc:arrayType" wsdl:arrayType="string[]"/></restriction></complexContent></complexType>
      <complexType name="Bar2InnerImpl">
        <sequence>
          <element name="int" type="int"/></sequence></complexType>
      <complexType name="Foo3.EmptyFoo">
        <sequence>
          <element name="major" type="soap-enc:float"/>
          <element name="good" type="soap-enc:boolean"/>
          <element name="minor" type="soap-enc:double"/></sequence></complexType>
      <complexType name="Bar2">
        <sequence>
          <element name="drink" type="string"/></sequence></complexType>
      <complexType name="Foo2">
        <complexContent>
          <extension base="tns:FooBase">
            <sequence>
              <element name="SMember" type="string"/>
              <element name="integer" type="soap-enc:int"/>
              <element name="i" type="int"/>
              <element name="subI2" type="int"/></sequence></extension></complexContent></complexType>
      <complexType name="Foo_Bar2Impl">
        <complexContent>
          <extension base="tns:FooInterface">
            <sequence/></extension></complexContent></complexType>
      <complexType name="Foo3">
        <complexContent>
          <extension base="tns:FooBase">
            <sequence>
              <element name="subI2" type="int"/>
              <element name="i" type="int"/>
              <element name="innerFoo2" type="tns:Foo3.InnerFoo"/>
              <element name="integer" type="soap-enc:int"/>
              <element name="SMember" type="string"/>
              <element name="innerFoo" type="tns:Foo3.InnerFoo"/></sequence></extension></complexContent></complexType>
      <complexType name="Foo3.InnerFoo">
        <sequence>
          <element name="Val" type="string"/></sequence></complexType></schema></types>
  <message name="echo_Foo">
    <part name="FooInterface_1" type="ns2:FooInterface"/></message>
  <message name="echo_FooResponse">
    <part name="result" type="ns2:FooInterface"/></message>
  <message name="echo_FooArray">
    <part name="arrayOfFooInterface_1" type="ns2:ArrayOfFooInterface"/></message>
  <message name="echo_FooArrayResponse">
    <part name="result" type="ns2:ArrayOfFooInterface"/></message>
  <message name="echo_FooBase">
    <part name="FooBase_1" type="ns2:FooBase"/></message>
  <message name="echo_FooBaseResponse">
    <part name="result" type="ns2:FooBase"/></message>
  <message name="echo_InnerImpl">
    <part name="Bar2InnerImpl_1" type="ns2:Bar2InnerImpl"/></message>
  <message name="echo_InnerImplResponse">
    <part name="result" type="ns2:Bar2InnerImpl"/></message>
  <portType name="Interface">
    <operation name="echo_Foo" parameterOrder="FooInterface_1">
      <input message="tns:echo_Foo"/>
      <output message="tns:echo_FooResponse"/></operation>
    <operation name="echo_FooArray" parameterOrder="arrayOfFooInterface_1">
      <input message="tns:echo_FooArray"/>
      <output message="tns:echo_FooArrayResponse"/></operation>
    <operation name="echo_FooBase" parameterOrder="FooBase_1">
      <input message="tns:echo_FooBase"/>
      <output message="tns:echo_FooBaseResponse"/></operation>
    <operation name="echo_InnerImpl" parameterOrder="Bar2InnerImpl_1">
      <input message="tns:echo_InnerImpl"/>
      <output message="tns:echo_InnerImplResponse"/></operation></portType>
  <binding name="InterfaceBinding" type="tns:Interface">
    <operation name="echo_Foo">
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://echoservice.org/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://echoservice.org/wsdl"/></output>
      <soap:operation soapAction=""/></operation>
    <operation name="echo_FooArray">
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://echoservice.org/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://echoservice.org/wsdl"/></output>
      <soap:operation soapAction=""/></operation>
    <operation name="echo_FooBase">
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://echoservice.org/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://echoservice.org/wsdl"/></output>
      <soap:operation soapAction=""/></operation>
    <operation name="echo_InnerImpl">
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://echoservice.org/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://echoservice.org/wsdl"/></output>
      <soap:operation soapAction=""/></operation>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/></binding>
  <service name="Interface_Service">
    <port name="InterfacePort" binding="tns:InterfaceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/></port></service></definitions>
