src/com/sun/ts/tests/internal/implementation/sjsas/jaxrpc/com/sun/xml/rpc/wsdl/data/test/etc/wsdl/ionaB.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions name="GroupBService" targetNamespace="http://soapinterop.org/"
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://soapinterop.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsd1="http://soapinterop.org/xsd" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <types>
        <schema targetNamespace="http://soapinterop.org/xsd" 
            xmlns="http://www.w3.org/2001/XMLSchema" 
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <complexType name="SOAPStruct">
                <all>
                    <element name="varFloat" type="xsd:float"/>
                    <element name="varInt" type="xsd:int"/>
                    <element name="varString" type="xsd:string"/>
                </all>
            </complexType>
            <complexType name="ArrayOfstring2D">
                <complexContent>
                    <restriction base="SOAP-ENC:Array">
                        <attribute ref="SOAP-ENC:arrayType" 
                            wsdl:arrayType="xsd:string[,]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="SOAPStructStruct">
                <all>
                    <element name="varFloat" type="xsd:float"/>
                    <element name="varInt" type="xsd:int"/>
                    <element name="varStruct" type="xsd1:SOAPStruct"/>
                    <element name="varString" type="xsd:string"/>
                </all>
            </complexType>
            <complexType name="SOAPArrayStruct">
                <all>
                    <element name="varFloat" type="xsd:float"/>
                    <element name="varInt" type="xsd:int"/>
                    <element name="varArray" type="xsd1:ArrayOfstring"/>
                    <element name="varString" type="xsd:string"/>
                </all>
            </complexType>
            <complexType name="ArrayOfstring">
                <complexContent>
                    <restriction base="SOAP-ENC:Array">
                        <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:string[]"/>
                    </restriction>
                </complexContent>
            </complexType>
        </schema>
    </types>
    <message name="echoSimpleTypesAsStructRequest">
        <part name="inputString" type="xsd:string"/>
        <part name="inputInteger" type="xsd:int"/>
        <part name="inputFloat" type="xsd:float"/>
    </message>
    <message name="echoSimpleTypesAsStructResult">
        <part name="return" type="xsd1:SOAPStruct"/>
    </message>
    <message name="echo2DStringArrayRequest">
        <part name="input2DStringArray" type="xsd1:ArrayOfstring2D"/>
    </message>
    <message name="echo2DStringArrayResult">
        <part name="return" type="xsd1:ArrayOfstring2D"/>
    </message>
    <message name="echoNestedStructRequest">
        <part name="inputStruct" type="xsd1:SOAPStructStruct"/>
    </message>
    <message name="echoNestedStructResult">
        <part name="return" type="xsd1:SOAPStructStruct"/>
    </message>
    <message name="echoNestedArrayRequest">
        <part name="inputStruct" type="xsd1:SOAPArrayStruct"/>
    </message>
    <message name="echoNestedArrayResult">
        <part name="return" type="xsd1:SOAPArrayStruct"/>
    </message>
    <portType name="GroupBPortType">
        <operation name="echoSimpleTypesAsStruct">
            <input message="tns:echoSimpleTypesAsStructRequest" 
                name="echoSimpleTypesAsStruct"/>
            <output message="tns:echoSimpleTypesAsStructResult" 
                name="echoSimpleTypesAsStructResult"/>
        </operation>
        <operation name="echo2DStringArray">
            <input message="tns:echo2DStringArrayRequest" name="echo2DStringArray"/>
            <output message="tns:echo2DStringArrayResult" name="echo2DStringArrayResult"/>
        </operation>
        <operation name="echoNestedStruct">
            <input message="tns:echoNestedStructRequest" name="echoNestedStruct"/>
            <output message="tns:echoNestedStructResult" name="echoNestedStructResult"/>
        </operation>
        <operation name="echoNestedArray">
            <input message="tns:echoNestedArrayRequest" name="echoNestedArray"/>
            <output message="tns:echoNestedArrayResult" name="echoNestedArrayResult"/>
        </operation>
    </portType>
    <binding name="GroupBBinding" type="tns:GroupBPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="echoSimpleTypesAsStruct">
            <soap:operation soapAction="http://soapinterop.org/" style="rpc"/>
            <input name="echoSimpleTypesAsStruct">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://soapinterop.org/" use="encoded"/>
            </input>
            <output name="echoSimpleTypesAsStructResult">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://soapinterop.org/" use="encoded"/>
            </output>
        </operation>
        <operation name="echo2DStringArray">
            <soap:operation soapAction="http://soapinterop.org/" style="rpc"/>
            <input name="echo2DStringArray">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://soapinterop.org/" use="encoded"/>
            </input>
            <output name="echo2DStringArrayResult">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://soapinterop.org/" use="encoded"/>
            </output>
        </operation>
        <operation name="echoNestedStruct">
            <soap:operation soapAction="http://soapinterop.org/" style="rpc"/>
            <input name="echoNestedStruct">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://soapinterop.org/" use="encoded"/>
            </input>
            <output name="echoNestedStructResult">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://soapinterop.org/" use="encoded"/>
            </output>
        </operation>
        <operation name="echoNestedArray">
            <soap:operation soapAction="http://soapinterop.org/" style="rpc"/>
            <input name="echoNestedArray">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://soapinterop.org/" use="encoded"/>
            </input>
            <output name="echoNestedArrayResult">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://soapinterop.org/" use="encoded"/>
            </output>
        </operation>
    </binding>
    <service name="GroupBService">
        <port binding="tns:GroupBBinding" name="GroupBPort">
            <soap:address 
                location="http://interop.xmlbus.com:7002/xmlbus/container/InteropTest/GroupBService/GroupBPort/"/>
        </port>
    </service>
</definitions>
