src/com/sun/ts/tests/internal/implementation/sjsas/jaxrpc/com/sun/xml/rpc/wsdl/data/test/etc/wsdl/overloaded.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="http://tempuri.org/encodedTypes" xmlns:s1="http://tempuri.org/" xmlns:s2="http://tempuri.org/AbstractTypes" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:n1="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema targetNamespace="http://tempuri.org/encodedTypes">
      <s:complexType name="ArrayOfInt">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute n1:arrayType="s:int[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PurchaseOrder">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="shipTo" type="s0:USAddress" />
          <s:element minOccurs="1" maxOccurs="1" name="billTo" type="s0:USAddress" />
          <s:element minOccurs="1" maxOccurs="1" name="comment" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="items" type="s0:ArrayOfItemsItem" />
          <s:element minOccurs="1" maxOccurs="1" name="orderDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="orderDateSpecified" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="USAddress">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="street" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="city" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="state" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="zip" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="country" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ItemsItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="productName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="USPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="comment" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="shipDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="shipDateSpecified" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="partNum" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItemsItem">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute n1:arrayType="s0:ItemsItem[]" ref="soapenc:arrayType" xmlns:n1="http://schemas.xmlsoap.org/wsdl/" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
    <s:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </types>
  <message name="HelloWorldSoapIn" />
  <message name="HelloWorldSoapOut">
    <part name="HelloWorldResult" type="s:string" />
  </message>
  <message name="DoTestSoapIn">
    <part name="a" type="s0:ArrayOfInt" />
  </message>
  <message name="DoTestSoapOut">
    <part name="DoTestResult" type="s:string" />
  </message>
  <message name="ProcessOrderSoapIn">
    <part name="order" type="s0:PurchaseOrder" />
  </message>
  <message name="ProcessOrderSoapOut">
    <part name="ProcessOrderResult" type="s:boolean" />
  </message>
  <message name="HelloWorldHttpGetIn" />
  <message name="HelloWorldHttpGetOut">
    <part name="Body" element="s1:string" />
  </message>
  <message name="DoTestHttpGetIn">
    <part name="a" type="s2:StringArray" />
  </message>
  <message name="DoTestHttpGetOut">
    <part name="Body" element="s1:string" />
  </message>
  <message name="HelloWorldHttpPostIn" />
  <message name="HelloWorldHttpPostOut">
    <part name="Body" element="s1:string" />
  </message>
  <message name="DoTestHttpPostIn">
    <part name="a" type="s2:StringArray" />
  </message>
  <message name="DoTestHttpPostOut">
    <part name="Body" element="s1:string" />
  </message>
  <portType name="Service1Soap">
    <operation name="DoTest">
      <input name="DoTest1Input" message="s1:HelloWorldSoapIn" />
      <output name="DoTest1Output" message="s1:HelloWorldSoapOut" />
    </operation>
    <operation name="DoTest">
      <input name="DoTest2Input" message="s1:DoTestSoapIn" />
      <output name="DoTest2Output" message="s1:DoTestSoapOut" />
    </operation>
    <operation name="DoTest">
      <input name="DoTest3Input" message="s1:ProcessOrderSoapIn" />
      <output name="DoTest3Output" message="s1:ProcessOrderSoapOut" />
    </operation>
  </portType>
  <portType name="Service1HttpGet">
    <operation name="HelloWorld">
      <input message="s1:HelloWorldHttpGetIn" />
      <output message="s1:HelloWorldHttpGetOut" />
    </operation>
    <operation name="DoTest">
      <input message="s1:DoTestHttpGetIn" />
      <output message="s1:DoTestHttpGetOut" />
    </operation>
  </portType>
  <portType name="Service1HttpPost">
    <operation name="HelloWorld">
      <input message="s1:HelloWorldHttpPostIn" />
      <output message="s1:HelloWorldHttpPostOut" />
    </operation>
    <operation name="DoTest">
      <input message="s1:DoTestHttpPostIn" />
      <output message="s1:DoTestHttpPostOut" />
    </operation>
  </portType>
  <binding name="Service1Soap" type="s1:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="DoTest">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="rpc" />
      <input name="DoTest1Input">
        <soap:body use="encoded" namespace="http://tempuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="DoTest1Output">
        <soap:body use="encoded" namespace="http://tempuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="DoTest">
      <soap:operation soapAction="http://tempuri.org/DoTest" style="rpc" />
      <input name="DoTest2Input">
        <soap:body use="encoded" namespace="http://tempuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="DoTest2Output">
        <soap:body use="encoded" namespace="http://tempuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="DoTest">
      <soap:operation soapAction="http://tempuri.org/ProcessOrder" style="rpc" />
      <input name="DoTest3Input">
        <soap:body use="encoded" namespace="http://tempuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output name="DoTest3Output">
        <soap:body use="encoded" namespace="http://tempuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpGet" type="s1:Service1HttpGet">
    <http:binding verb="GET" />
    <operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DoTest">
      <http:operation location="/DoTest" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpPost" type="s1:Service1HttpPost">
    <http:binding verb="POST" />
    <operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DoTest">
      <http:operation location="/DoTest" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="Service1">
    <port name="Service1Soap" binding="s1:Service1Soap">
      <soap:address location="http://paperoga/WebServiceTest1/Service1.asmx" />
    </port>
    <port name="Service1HttpGet" binding="s1:Service1HttpGet">
      <http:address location="http://paperoga/WebServiceTest1/Service1.asmx" />
    </port>
    <port name="Service1HttpPost" binding="s1:Service1HttpPost">
      <http:address location="http://paperoga/WebServiceTest1/Service1.asmx" />
    </port>
  </service>
</definitions>
