src/com/sun/ts/tests/internal/implementation/sjsas/jaxrpc/com/sun/xml/rpc/wsdl/data/test/etc/wsdl/parameterorder.wsdl

<?xml version="1.0"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions name="ParameterOrderTest"
		targetNamespace="http://ParameterOrderTest.org/" 
				xmlns="http://schemas.xmlsoap.org/wsdl/" 
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
				xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
				xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
				xmlns:tns="http://ParameterOrderTest.org/" 
				xmlns:s="http://ParameterOrderTest.org/xsd" 
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ParameterOrderTest.org/xsd">

			<!-- ########################################## -->
			<!-- These complex types are restricted by WSDL -->
			<!-- ########################################## -->


			<complexType name="ArrayOfstring">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfinteger">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:integer[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfint">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOflong">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:long[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfshort">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:short[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfdecimal">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:decimal[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOffloat">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:float[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfdouble">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:double[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfboolean">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:boolean[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfbyte">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="byte[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfQName">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="QName[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfdateTime">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="dateTime[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfsoapencstring">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfsoapencboolean">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:boolean[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfsoapencfloat">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:float[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfsoapencdouble">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:double[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfsoapencdecimal">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:decimal[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfsoapencint">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:int[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfsoapencshort">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:short[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfsoapencbyte">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:byte[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfbase64Binary">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="base64Binary[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfhexBinary">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="hexBinary[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfsoapencbase64">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:base64[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<!-- ########################################## -->
			<!-- These complex types are restricted by SOAP -->
			<!-- ########################################## -->


			<complexType name="ArrayOfstring1">
				<complexContent>
					<restriction base="soapenc:Array">
						<sequence>
							<element name="string1" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>

			<complexType name="ArrayOfinteger1">
				<complexContent>
					<restriction base="soapenc:Array">
						<sequence>
							<element name="integer1" type="xsd:integer" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfint1">
				<complexContent>
					<restriction base="soapenc:Array">
						<sequence>
							<element name="int1" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOflong1">
				<complexContent>
					<restriction base="soapenc:Array">
						<sequence>
							<element name="long1" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfshort1">
				<complexContent>
					<restriction base="soapenc:Array">
						<sequence>
							<element name="short1" type="xsd:short" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfdecimal1">
				<complexContent>
					<restriction base="soapenc:Array">
						<sequence>
							<element name="decimal1" type="xsd:decimal" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOffloat1">
				<complexContent>
					<restriction base="soapenc:Array">
						<sequence>
							<element name="float1" type="xsd:float" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfdouble1">
				<complexContent>
					<restriction base="soapenc:Array">
						<sequence>
							<element name="double1" type="xsd:double" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfboolean1">
				<complexContent>
					<restriction base="soapenc:Array">
						<sequence>
							<element name="boolean1" type="xsd:boolean" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfbyte1">
				<complexContent>
					<restriction base="soapenc:Array">
						<sequence>
							<element name="byte1" type="xsd:byte" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfQName1">
				<complexContent>
					<restriction base="soapenc:Array">
						<sequence>
							<element name="QName1" type="xsd:QName" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfdateTime1">
				<complexContent>
					<restriction base="soapenc:Array">
						<sequence>
							<element name="dateTime1" type="xsd:dateTime" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfsoapencstring1">
				<complexContent>
					<restriction base="soapenc:Array">
						<sequence>
							<element name="soapencstring1" type="soapenc:string" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfsoapencboolean1">
				<complexContent>
					<restriction base="soapenc:Array">
						<sequence>
							<element name="soapencboolean" type="soapenc:boolean" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfsoapencfloat1">
				<complexContent>
					<restriction base="soapenc:Array">
						<sequence>
							<element name="soapencfloat1" type="soapenc:float" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfsoapencdouble1">
				<complexContent>
					<restriction base="soapenc:Array">
						<sequence>
							<element name="soapencdouble1" type="soapenc:double" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfsoapencdecimal1">
				<complexContent>
					<restriction base="soapenc:Array">
						<sequence>
							<element name="soapencdecimal1" type="soapenc:decimal" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfsoapencint1">
				<complexContent>
					<restriction base="soapenc:Array">
						<sequence>
							<element name="soapencint1" type="soapenc:int" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfsoapencshort1">
				<complexContent>
					<restriction base="soapenc:Array">
						<sequence>
							<element name="soapencshort1" type="soapenc:short" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfsoapencbyte1">
				<complexContent>
					<restriction base="soapenc:Array">
						<sequence>
							<element name="soapencbyte1" type="soapenc:byte" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfbase64Binary1">
				<complexContent>
					<restriction base="soapenc:Array">
						<sequence>
							<element name="base64Binary1" type="xsd:base64Binary" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfhexBinary1">
				<complexContent>
					<restriction base="soapenc:Array">
						<sequence>
							<element name="hexBinary1" type="xsd:hexBinary" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOfsoapencbase641">
				<complexContent>
					<restriction base="soapenc:Array">
						<sequence>
							<element name="soapencbase641" type="soapenc:base64" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<!-- ########################################## -->
			<!-- Struct types			  			   -->
			<!-- ########################################## -->


			<complexType name="ArrayOfAllStruct">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="s:AllStruct[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="AllStruct">
				<all>
         				<element name="varString" type="xsd:string"/>
          			<element name="varInteger" type="xsd:integer"/>
          			<element name="varInt" type="xsd:int"/>
          			<element name="varLong" type="xsd:long"/>
          			<element name="varShort" type="xsd:short"/>
          			<element name="varDecimal" type="xsd:decimal"/>
          			<element name="varFloat" type="xsd:float"/>
          			<element name="varDouble" type="xsd:double"/>
          			<element name="varBoolean" type="xsd:boolean"/>
          			<element name="varByte" type="xsd:byte"/>
          			<element name="varQName" type="xsd:QName"/>
          			<element name="varDateTime" type="xsd:dateTime"/>
          			<element name="varSoapString" type="soapenc:string"/>
          			<element name="varSoapBoolean" type="soapenc:boolean"/>
          			<element name="varSoapFloat" type="soapenc:float"/>
          			<element name="varSoapDouble" type="soapenc:double"/>
          			<element name="varSoapDecimal" type="soapenc:decimal"/>
          			<element name="varSoapInt" type="soapenc:int"/>
          			<element name="varSoapShort" type="soapenc:short"/>
          			<element name="varSoapByte" type="soapenc:byte"/>
          			<element name="varBase64Binary" type="xsd:base64Binary"/>
          			<element name="varHexBinary" type="xsd:hexBinary"/>
          			<element name="varSoapBase64" type="soapenc:base64"/>
				</all>
			</complexType>
			<complexType name="ArrayOfAllStruct2">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="s:AllStruct2[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="AllStruct2">
				<all>
         				<element name="varString" type="xsd:string"/>
          			<element name="varInteger" type="xsd:integer"/>
          			<element name="varInt" type="xsd:int"/>
          			<element name="varLong" type="xsd:long"/>
          			<element name="varShort" type="xsd:short"/>
          			<element name="varDecimal" type="xsd:decimal"/>
          			<element name="varFloat" type="xsd:float"/>
          			<element name="varDouble" type="xsd:double"/>
          			<element name="varBoolean" type="xsd:boolean"/>
          			<element name="varByte" type="xsd:byte"/>
          			<element name="varQName" type="xsd:QName"/>
          			<element name="varDateTime" type="xsd:dateTime"/>
          			<element name="varSoapString" type="soapenc:string"/>
          			<element name="varSoapBoolean" type="soapenc:boolean"/>
          			<element name="varSoapFloat" type="soapenc:float"/>
          			<element name="varSoapDouble" type="soapenc:double"/>
          			<element name="varSoapDecimal" type="soapenc:decimal"/>
          			<element name="varSoapInt" type="soapenc:int"/>
          			<element name="varSoapShort" type="soapenc:short"/>
          			<element name="varSoapByte" type="soapenc:byte"/>
          			<element name="varBase64Binary" type="xsd:base64Binary"/>
          			<element name="varHexBinary" type="xsd:hexBinary"/>
          			<element name="varSoapBase64" type="soapenc:base64"/>
					<element name="varAllStruct" type="s:AllStruct"/>
				</all>
			</complexType>

			<complexType name="ArrayOfSequenceStruct">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="s:SequenceStruct[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="SequenceStruct">
				<sequence>
         				<element name="varString" type="xsd:string"/>
          			<element name="varInteger" type="xsd:integer"/>
          			<element name="varInt" type="xsd:int"/>
          			<element name="varLong" type="xsd:long"/>
          			<element name="varShort" type="xsd:short"/>
          			<element name="varDecimal" type="xsd:decimal"/>
          			<element name="varFloat" type="xsd:float"/>
          			<element name="varDouble" type="xsd:double"/>
          			<element name="varBoolean" type="xsd:boolean"/>
          			<element name="varByte" type="xsd:byte"/>
          			<element name="varQName" type="xsd:QName"/>
          			<element name="varDateTime" type="xsd:dateTime"/>
          			<element name="varSoapString" type="soapenc:string"/>
          			<element name="varSoapBoolean" type="soapenc:boolean"/>
          			<element name="varSoapFloat" type="soapenc:float"/>
          			<element name="varSoapDouble" type="soapenc:double"/>
          			<element name="varSoapDecimal" type="soapenc:decimal"/>
          			<element name="varSoapInt" type="soapenc:int"/>
          			<element name="varSoapShort" type="soapenc:short"/>
          			<element name="varSoapByte" type="soapenc:byte"/>
          			<element name="varBase64Binary" type="xsd:base64Binary"/>
          			<element name="varHexBinary" type="xsd:hexBinary"/>
          			<element name="varSoapBase64" type="soapenc:base64"/>
				</sequence>
			</complexType>
			<complexType name="ArrayOfSequenceStruct2">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="s:SequenceStruct2[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="SequenceStruct2">
				<sequence>
         				<element name="varString" type="xsd:string"/>
          			<element name="varInteger" type="xsd:integer"/>
          			<element name="varInt" type="xsd:int"/>
          			<element name="varLong" type="xsd:long"/>
          			<element name="varShort" type="xsd:short"/>
          			<element name="varDecimal" type="xsd:decimal"/>
          			<element name="varFloat" type="xsd:float"/>
          			<element name="varDouble" type="xsd:double"/>
          			<element name="varBoolean" type="xsd:boolean"/>
          			<element name="varByte" type="xsd:byte"/>
          			<element name="varQName" type="xsd:QName"/>
          			<element name="varDateTime" type="xsd:dateTime"/>
          			<element name="varSoapString" type="soapenc:string"/>
          			<element name="varSoapBoolean" type="soapenc:boolean"/>
          			<element name="varSoapFloat" type="soapenc:float"/>
          			<element name="varSoapDouble" type="soapenc:double"/>
          			<element name="varSoapDecimal" type="soapenc:decimal"/>
          			<element name="varSoapInt" type="soapenc:int"/>
          			<element name="varSoapShort" type="soapenc:short"/>
          			<element name="varSoapByte" type="soapenc:byte"/>
          			<element name="varBase64Binary" type="xsd:base64Binary"/>
          			<element name="varHexBinary" type="xsd:hexBinary"/>
          			<element name="varSoapBase64" type="soapenc:base64"/>
					<element name="varSequenceStruct" type="s:SequenceStruct"/>
				</sequence>
			</complexType>

			<!-- ########################################## -->
			<!-- Enumeration types                          -->
			<!-- ########################################## -->
			<element name="enumString" type="s:enumString"/>
			<simpleType name="enumString">
				<restriction base="xsd:string">
					<enumeration value="String1" />
					<enumeration value="String2" />
				</restriction>
			</simpleType>
			<element name="enumInteger" type="s:enumInteger"/>
			<simpleType name="enumInteger">
				<restriction base="xsd:integer">
					<enumeration value="3512359" />
					<enumeration value="3512360" />
				</restriction>
			</simpleType>
			<element name="enumInt" type="s:enumInt"/>
			<simpleType name="enumInt">
				<restriction base="xsd:int">
					<enumeration value="-2147483648" />
					<enumeration value="2147483647" />
				</restriction>
			</simpleType>
			<element name="enumLong" type="s:enumLong"/>
			<simpleType name="enumLong">
				<restriction base="xsd:long">
					<enumeration value="-9223372036854775808" />
					<enumeration value="9223372036854775807" />
				</restriction>
			</simpleType>
			<element name="enumShort" type="s:enumShort"/>
			<simpleType name="enumShort">
				<restriction base="xsd:short">
					<enumeration value="-32768" />
					<enumeration value="32767" />
				</restriction>
			</simpleType>
			<element name="enumDecimal" type="s:enumDecimal"/>
			<simpleType name="enumDecimal">
				<restriction base="xsd:decimal">
					<enumeration value="3512359.1456" />
					<enumeration value="3512360.1456" />
				</restriction>
			</simpleType>
			<element name="enumFloat" type="s:enumFloat"/>
			<simpleType name="enumFloat">
				<restriction base="xsd:float">
					<enumeration value="-1.00000000" />
					<enumeration value="3.00000000" />
				</restriction>
			</simpleType>
			<element name="enumDouble" type="s:enumDouble"/>
			<simpleType name="enumDouble">
				<restriction base="xsd:double">
					<enumeration value="-1.0000000000000" />
					<enumeration value="3.0000000000000" />
				</restriction>
			</simpleType>
			<element name="enumByte" type="s:enumByte"/>
			<simpleType name="enumByte">
				<restriction base="xsd:byte">
					<enumeration value="-128" />
					<enumeration value="127" />
				</restriction>
			</simpleType>
<!--
			<element name="enumQName" type="s:enumQName"/>
			<simpleType name="enumQName">
				<restriction base="xsd:QName">
					<enumeration value="xxx" />
					<enumeration value="xxx" />
				</restriction>
			</simpleType>
			<element name="enumDateTime" type="s:enumDateTime"/>
			<simpleType name="enumDateTime">
				<restriction base="xsd:dateTime">
					<enumeration value="xxx" />
					<enumeration value="xxx" />
				</restriction>
			</simpleType>
			<element name="enumSoapString" type="s:enumSoapString"/>
			<simpleType name="enumSoapString">
				<restriction base="soapenc:string">
					<enumeration value="String1" />
					<enumeration value="String2" />
				</restriction>
			</simpleType>
			<element name="enumSoapFloat" type="s:enumSoapFloat"/>
			<simpleType name="enumSoapFloat">
				<restriction base="soapenc:float">
					<enumeration value="-1.00000000" />
					<enumeration value="3.00000000" />
				</restriction>
			</simpleType>
			<element name="enumSoapDouble" type="s:enumSoapDouble"/>
			<simpleType name="enumSoapDouble">
				<restriction base="soapenc:double">
					<enumeration value="-1.0000000000000" />
					<enumeration value="3.0000000000000" />
				</restriction>
			</simpleType>
			<element name="enumSoapDecimal" type="s:enumSoapDecimal"/>
			<simpleType name="enumSoapDecimal">
				<restriction base="soapenc:decimal">
					<enumeration value="3512359.1456" />
					<enumeration value="3512360.1456" />
				</restriction>
			</simpleType>
			<element name="enumSoapInt" type="s:enumSoapInt"/>
			<simpleType name="enumSoapInt">
				<restriction base="soapenc:int">
					<enumeration value="-2147483648" />
					<enumeration value="2147483647" />
				</restriction>
			</simpleType>
			<element name="enumSoapShort" type="s:enumSoapShort"/>
			<simpleType name="enumSoapShort">
				<restriction base="soapenc:short">
					<enumeration value="-32768" />
					<enumeration value="32767" />
				</restriction>
			</simpleType>
			<element name="enumSoapByte" type="s:enumSoapByte"/>
			<simpleType name="enumSoapByte">
				<restriction base="soapenc:byte">
					<enumeration value="-128" />
					<enumeration value="127" />
				</restriction>
			</simpleType>
			<element name="enumBase64Binary" type="s:enumBase64Binary"/>
			<simpleType name="enumBase64Binary">
				<restriction base="xsd:base64Binary">
					<enumeration value="-128" />
					<enumeration value="127" />
				</restriction>
			</simpleType>
			<element name="enumHexBinary" type="s:enumHexBinary"/>
			<simpleType name="enumHexBinary">
				<restriction base="xsd:hexBinary">
					<enumeration value="-128" />
					<enumeration value="127" />
				</restriction>
			</simpleType>
			<element name="enumSoapBase64" type="s:enumSoapBase64"/>
			<simpleType name="enumSoapBase64">
				<restriction base="soapenc:base64">
					<enumeration value="-128" />
					<enumeration value="127" />
				</restriction>
			</simpleType>
-->
		</schema>
	</types>



	<!-- ############################################################################### -->
	<!-- These are used in conjuction with the Holder tests               			-->
	<!-- ############################################################################### -->
	<!-- IN parameter -->
     <message name="in1Request">
		<part name="varString" type="xsd:string"/>
		<part name="varInteger" type="xsd:integer"/>
		<part name="varInt" type="xsd:int"/>
		<part name="varLong" type="xsd:long"/>
		<part name="varShort" type="xsd:short"/>
		<part name="varDecimal" type="xsd:decimal"/>
		<part name="varFloat" type="xsd:float"/>
		<part name="varDouble" type="xsd:double"/>
		<part name="varBoolean" type="xsd:boolean"/>
		<part name="varByte" type="xsd:byte"/>
		<part name="varQName" type="xsd:QName"/>
		<part name="varDateTime" type="xsd:dateTime"/>
		<part name="varSoapString" type="soapenc:string"/>
		<part name="varSoapBoolean" type="soapenc:boolean"/>
		<part name="varSoapFloat" type="soapenc:float"/>
		<part name="varSoapDouble" type="soapenc:double"/>
		<part name="varSoapDecimal" type="soapenc:decimal"/>
		<part name="varSoapInt" type="soapenc:int"/>
		<part name="varSoapShort" type="soapenc:short"/>
		<part name="varSoapByte" type="soapenc:byte"/>
		<part name="varBase64Binary" type="xsd:base64Binary"/>
		<part name="varHexBinary" type="xsd:hexBinary"/>
		<part name="varSoapBase64" type="soapenc:base64"/>
     </message>
     <message name="in1Response"/>

	<!-- OUT parameter -->
     <message name="out1Request"/>
     <message name="out1Response">
		<part name="varString" type="xsd:string"/>
		<part name="varInteger" type="xsd:integer"/>
		<part name="varInt" type="xsd:int"/>
		<part name="varLong" type="xsd:long"/>
		<part name="varShort" type="xsd:short"/>
		<part name="varDecimal" type="xsd:decimal"/>
		<part name="varFloat" type="xsd:float"/>
		<part name="varDouble" type="xsd:double"/>
		<part name="varBoolean" type="xsd:boolean"/>
		<part name="varByte" type="xsd:byte"/>
		<part name="varQName" type="xsd:QName"/>
		<part name="varDateTime" type="xsd:dateTime"/>
		<part name="varSoapString" type="soapenc:string"/>
		<part name="varSoapBoolean" type="soapenc:boolean"/>
		<part name="varSoapFloat" type="soapenc:float"/>
		<part name="varSoapDouble" type="soapenc:double"/>
		<part name="varSoapDecimal" type="soapenc:decimal"/>
		<part name="varSoapInt" type="soapenc:int"/>
		<part name="varSoapShort" type="soapenc:short"/>
		<part name="varSoapByte" type="soapenc:byte"/>
		<part name="varBase64Binary" type="xsd:base64Binary"/>
		<part name="varHexBinary" type="xsd:hexBinary"/>
		<part name="varSoapBase64" type="soapenc:base64"/>
     </message>

	<!-- IN/OUT parameter -->
     <message name="inout1Request">
		<part name="varString" type="xsd:string"/>
		<part name="varInteger" type="xsd:integer"/>
		<part name="varInt" type="xsd:int"/>
		<part name="varLong" type="xsd:long"/>
		<part name="varShort" type="xsd:short"/>
		<part name="varDecimal" type="xsd:decimal"/>
		<part name="varFloat" type="xsd:float"/>
		<part name="varDouble" type="xsd:double"/>
		<part name="varBoolean" type="xsd:boolean"/>
		<part name="varByte" type="xsd:byte"/>
		<part name="varQName" type="xsd:QName"/>
		<part name="varDateTime" type="xsd:dateTime"/>
		<part name="varSoapString" type="soapenc:string"/>
		<part name="varSoapBoolean" type="soapenc:boolean"/>
		<part name="varSoapFloat" type="soapenc:float"/>
		<part name="varSoapDouble" type="soapenc:double"/>
		<part name="varSoapDecimal" type="soapenc:decimal"/>
		<part name="varSoapInt" type="soapenc:int"/>
		<part name="varSoapShort" type="soapenc:short"/>
		<part name="varSoapByte" type="soapenc:byte"/>
		<part name="varBase64Binary" type="xsd:base64Binary"/>
		<part name="varHexBinary" type="xsd:hexBinary"/>
		<part name="varSoapBase64" type="soapenc:base64"/>
     </message>
     <message name="inout1Response">
		<part name="varString" type="xsd:string"/>
		<part name="varInteger" type="xsd:integer"/>
		<part name="varInt" type="xsd:int"/>
		<part name="varLong" type="xsd:long"/>
		<part name="varShort" type="xsd:short"/>
		<part name="varDecimal" type="xsd:decimal"/>
		<part name="varFloat" type="xsd:float"/>
		<part name="varDouble" type="xsd:double"/>
		<part name="varBoolean" type="xsd:boolean"/>
		<part name="varByte" type="xsd:byte"/>
		<part name="varQName" type="xsd:QName"/>
		<part name="varDateTime" type="xsd:dateTime"/>
		<part name="varSoapString" type="soapenc:string"/>
		<part name="varSoapBoolean" type="soapenc:boolean"/>
		<part name="varSoapFloat" type="soapenc:float"/>
		<part name="varSoapDouble" type="soapenc:double"/>
		<part name="varSoapDecimal" type="soapenc:decimal"/>
		<part name="varSoapInt" type="soapenc:int"/>
		<part name="varSoapShort" type="soapenc:short"/>
		<part name="varSoapByte" type="soapenc:byte"/>
		<part name="varBase64Binary" type="xsd:base64Binary"/>
		<part name="varHexBinary" type="xsd:hexBinary"/>
		<part name="varSoapBase64" type="soapenc:base64"/>
     </message>

	<portType name="ParameterOrderTestType">
		<operation name="echoIn1" parameterOrder="varString varInteger varInt varLong varShort varDecimal varFloat varDouble varBoolean varByte varQName varDateTime varSoapString varSoapBoolean varSoapFloat varSoapDouble varSoapDecimal varSoapInt varSoapShort varSoapByte varBase64Binary varHexBinary varSoapBase64">
			<input message="tns:in1Request"/>
			<output message="tns:in1Response"/>
		</operation>
		<operation name="echoOut1" parameterOrder="varString varInteger varInt varLong varShort varDecimal varFloat varDouble varBoolean varByte varQName varDateTime varSoapString varSoapBoolean varSoapFloat varSoapDouble varSoapDecimal varSoapInt varSoapShort varSoapByte varBase64Binary varHexBinary varSoapBase64">
			<input message="tns:out1Request"/>
			<output message="tns:out1Response"/>
		</operation>
		<operation name="echoInOut1" parameterOrder="varString varInteger varInt varLong varShort varDecimal varFloat varDouble varBoolean varByte varQName varDateTime varSoapString varSoapBoolean varSoapFloat varSoapDouble varSoapDecimal varSoapInt varSoapShort varSoapByte varBase64Binary varHexBinary varSoapBase64">
			<input message="tns:inout1Request"/>
			<output message="tns:inout1Response"/>
		</operation>

	</portType>

	<binding name="ParameterOrderTestBinding" type="tns:ParameterOrderTestType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="echoIn1">
			<soap:operation soapAction="http://ParameterOrderTestW2J.org/"/>
			<input>
				<soap:body use="encoded" namespace="http://ParameterOrderTestW2J.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="http://ParameterOrderTestW2J.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="echoOut1">
			<soap:operation soapAction="http://ParameterOrderTestW2J.org/"/>
			<input>
				<soap:body use="encoded" namespace="http://ParameterOrderTestW2J.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="http://ParameterOrderTestW2J.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="echoInOut1">
			<soap:operation soapAction="http://ParameterOrderTestW2J.org/"/>
			<input>
				<soap:body use="encoded" namespace="http://ParameterOrderTestW2J.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="http://ParameterOrderTestW2J.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>

	</binding>

	<service name="ParameterOrderTestService">
        	<port name="ParameterOrderTest" binding="tns:ParameterOrderTestBinding">
            	<soap:address location="http://localhost:8080/W2JParameterOrderTest/jaxrpc"/>
        	</port>
	</service>
</definitions>
