src/com/sun/ts/tests/internal/implementation/sjsas/jaxrpc/com/sun/xml/rpc/wsdl/data/test/etc/wsdl/simpleType.wsdl

<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions
  name="simpleType"
  targetNamespace="uri:sun.com:simpleType"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="uri:sun.com:simpleType"
  xmlns:ns0="uri:sun.com:simpleTypeSchema"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  
  <types>	
    <schema version="1.0" 
      xmlns="http://www.w3.org/2001/XMLSchema"
      targetNamespace="uri:sun.com:simpleTypeSchema"
      xmlns:tns="uri:sun.com:simpleTypeSchema"
      elementFormDefault="qualified">

	       <xsd:element name="booleanElem" type="xsd:boolean"/>
          <simpleType name="Bar">
	           <annotation>
                  <documentation>Possible test results
	               </documentation>
              </annotation>

	           <restriction base="xsd:integer">
	           </restriction>
          </simpleType>

          <simpleType name="derivedTypeFoo">
	           <restriction base="ns0:Bar">
	           </restriction>
          </simpleType>

    </schema>
  </types>

  <message name="simpleTypeRequest">
    <part name="body" type="ns0:Bar"/>
  </message>
  
  <message name="simpleTypeResponse">
    <part name="body" type="ns0:Bar"/>
  </message>  
  
  <message name="simpleTypeRequestFoo">
    <part name="body" type="ns0:derivedTypeFoo"/>
  </message>
 
  <message name="simpleTypeResponseFoo">
    <part name="body" type="ns0:derivedTypeFoo"/>
  </message>
 

  <portType name="simpleTypeService1">
    <operation name="simpleTypeOperation1">
      <input message="tns:simpleTypeRequest"/>
      <output message="tns:simpleTypeResponse"/>
    </operation>  
    <operation name="simpleTypeOperation2">
      <input message="tns:simpleTypeRequestFoo"/>
      <output message="tns:simpleTypeResponseFoo"/>
    </operation>  
  </portType>
  
  <binding name="TheBinding" type="tns:simpleTypeService1">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="simpleTypeOperation1">
      <soap:operation soapAction="uri:simpleTypeOperation1"/>
      <input>
        <soap:body use="encoded" namespace="uri:sun.com:simpleType" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="uri:sun.com:simpleType" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>      
    <operation name="simpleTypeOperation2">
      <soap:operation soapAction="uri:simpleTypeOperation2"/>
      <input>
        <soap:body use="encoded" namespace="uri:sun.com:simpleType" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="uri:sun.com:simpleType" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>      
  </binding>
    
  <service name="simpleTypeService">
    <port name="ThePort" binding="tns:TheBinding">
      <soap:address location="http://localhost/rpcendpoint/simpleTypeService"/>
    </port>
  </service>
  
</definitions>
