src/com/sun/ts/tests/internal/implementation/sjsas/jaxrpc/com/sun/xml/rpc/wsdl/data/test/etc/wsdl/test08.wsdl

<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions
  name="test08"
  targetNamespace="uri:sun.com:Test08"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:schema="uri:sun.com:Test08Schema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="uri:sun.com:Test08"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <types>
    <schema version="1.0" xmlns="http://www.w3.org/2001/XMLSchema"
      targetNamespace="uri:sun.com:Test08Schema"
      xmlns:tns="uri:sun.com:Test08Schema"
      elementFormDefault="qualified">

      <element name="PO">
        <complexType>
          <sequence>
            <element name="Header">
              <complexType>
                <sequence>
                  <element name="PONumber" type="string"/>
                  <element name="Name" type="string"/>
                  <element name="Address" type="string"/>
                  <element name="City" type="string"/>
                  <element name="State" type="string"/>
                  <element name="ZipCode" type="string"/>
                </sequence>
              </complexType>
            </element>
            <element name="LineItem" minOccurs="0" maxOccurs="unbounded">
              <complexType>
                <attribute name="PartNumber" use="required" type="string"/>
                <attribute name="Quantity" use="required" type="int"/>
                <attribute name="UnitPrice" use="required" type="double"/>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>

      <element name="POResponse">
        <complexType>
          <sequence>
            <element name="TrackingNumber" type="string"/>
            <element name="RejectedLineItem" minOccurs="0" maxOccurs="unbounded">
              <complexType>
                <attribute name="PartNumber" use="required" type="string"/>
                <attribute name="Quantity" use="required" type="int"/>
                <attribute name="UnitPrice" use="required" type="double"/>
                <attribute name="Reason" use="optional" default="" type="string"/>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>

    </schema>
  </types>

  <message name="TestRequest">
    <part name="body" element="schema:PO"/>
  </message>

  <message name="TestResponse">
    <part name="body" element="schema:POResponse"/>
  </message>

  <portType name="TestService1">
    <operation name="TestOperation1">
      <input message="tns:TestRequest"/>
      <output message="tns:TestResponse"/>
    </operation>
  </portType>

  <binding name="TheBinding" type="tns:TestService1">
  <!--  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http/"/> -->
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="TestOperation1">
    <soap:operation soapAction="uri:TestOperation1"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="TestService">
    <port name="ThePort" binding="tns:TheBinding">
      <soap:address location="http://localhost/rpcendpoint/TestService"/>
    </port>
  </service>

</definitions>
