src/com/sun/ts/tests/internal/implementation/sjsas/jaxrpc/com/sun/xml/rpc/wsdl/data/test/etc/wsdl/test11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="http://tempuri.org/" xmlns:s1="http://tempuri.org/AbstractTypes" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HelloWorldResult" nillable="true" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoTest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" nillable="true" type="s0:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DoTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DoTestResult" nillable="true" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="order" nillable="true" type="s0:PurchaseOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PurchaseOrder">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="shipTo" nillable="true" type="s0:USAddress" />
          <s:element minOccurs="1" maxOccurs="1" name="billTo" nillable="true" type="s0:USAddress" />
          <s:element minOccurs="1" maxOccurs="1" name="comment" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="items" nillable="true" type="s0:ArrayOfItemsItem" />
          <s:element minOccurs="1" maxOccurs="1" name="orderDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="orderDateSpecified" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="USAddress">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="name" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="street" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="city" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="state" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="zip" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="country" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItemsItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ItemsItem" nillable="true" type="s0:ItemsItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ItemsItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="productName" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="quantity" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="USPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="comment" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="shipDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="shipDateSpecified" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="partNum" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProcessOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessOrderResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessSomeXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="element" nillable="true">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessSomeXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessSomeXMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </types>
  <message name="HelloWorldSoapIn">
    <part name="parameters" element="s0:HelloWorld" />
  </message>
  <message name="HelloWorldSoapOut">
    <part name="parameters" element="s0:HelloWorldResponse" />
  </message>
  <message name="DoTestSoapIn">
    <part name="parameters" element="s0:DoTest" />
  </message>
  <message name="DoTestSoapOut">
    <part name="parameters" element="s0:DoTestResponse" />
  </message>
  <message name="ProcessOrderSoapIn">
    <part name="parameters" element="s0:ProcessOrder" />
  </message>
  <message name="ProcessOrderSoapOut">
    <part name="parameters" element="s0:ProcessOrderResponse" />
  </message>
  <message name="ProcessSomeXMLSoapIn">
    <part name="parameters" element="s0:ProcessSomeXML" />
  </message>
  <message name="ProcessSomeXMLSoapOut">
    <part name="parameters" element="s0:ProcessSomeXMLResponse" />
  </message>
  <message name="HelloWorldHttpGetIn" />
  <message name="HelloWorldHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="DoTestHttpGetIn">
    <part name="a" type="s1:StringArray" />
  </message>
  <message name="DoTestHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="HelloWorldHttpPostIn" />
  <message name="HelloWorldHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="DoTestHttpPostIn">
    <part name="a" type="s1:StringArray" />
  </message>
  <message name="DoTestHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="Service1Soap">
    <operation name="HelloWorld">
      <input message="s0:HelloWorldSoapIn" />
      <output message="s0:HelloWorldSoapOut" />
    </operation>
    <operation name="DoTest">
      <input message="s0:DoTestSoapIn" />
      <output message="s0:DoTestSoapOut" />
    </operation>
    <operation name="ProcessOrder">
      <input message="s0:ProcessOrderSoapIn" />
      <output message="s0:ProcessOrderSoapOut" />
    </operation>
    <operation name="ProcessSomeXML">
      <input message="s0:ProcessSomeXMLSoapIn" />
      <output message="s0:ProcessSomeXMLSoapOut" />
    </operation>
  </portType>
  <portType name="Service1HttpGet">
    <operation name="HelloWorld">
      <input message="s0:HelloWorldHttpGetIn" />
      <output message="s0:HelloWorldHttpGetOut" />
    </operation>
    <operation name="DoTest">
      <input message="s0:DoTestHttpGetIn" />
      <output message="s0:DoTestHttpGetOut" />
    </operation>
  </portType>
  <portType name="Service1HttpPost">
    <operation name="HelloWorld">
      <input message="s0:HelloWorldHttpPostIn" />
      <output message="s0:HelloWorldHttpPostOut" />
    </operation>
    <operation name="DoTest">
      <input message="s0:DoTestHttpPostIn" />
      <output message="s0:DoTestHttpPostOut" />
    </operation>
  </portType>
  <binding name="Service1Soap" type="s0:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DoTest">
      <soap:operation soapAction="http://tempuri.org/DoTest" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ProcessOrder">
      <soap:operation soapAction="http://tempuri.org/ProcessOrder" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ProcessSomeXML">
      <soap:operation soapAction="http://tempuri.org/ProcessSomeXML" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpGet" type="s0:Service1HttpGet">
    <http:binding verb="GET" />
    <operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DoTest">
      <http:operation location="/DoTest" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpPost" type="s0:Service1HttpPost">
    <http:binding verb="POST" />
    <operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DoTest">
      <http:operation location="/DoTest" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="Service1">
    <port name="Service1Soap" binding="s0:Service1Soap">
      <soap:address location="http://paperoga/WebServiceTest1/Service1.asmx" />
    </port>
    <port name="Service1HttpGet" binding="s0:Service1HttpGet">
      <http:address location="http://paperoga/WebServiceTest1/Service1.asmx" />
    </port>
    <port name="Service1HttpPost" binding="s0:Service1HttpPost">
      <http:address location="http://paperoga/WebServiceTest1/Service1.asmx" />
    </port>
  </service>
</definitions>
