src/com/sun/ts/tests/internal/implementation/sjsas/jaxrpc/com/sun/xml/rpc/wsdl/data/test/etc/wsdl/test17.wsdl

<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions
  name="test17"
  targetNamespace="uri:sun.com:Test17"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="uri:sun.com:Test17"
  xmlns:ns0="uri:sun.com:Test17Schema"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  
  <types>	
    <schema version="1.0" xmlns="http://www.w3.org/2001/XMLSchema"
      targetNamespace="uri:sun.com:Test17Schema"
      xmlns:tns="uri:sun.com:Test17Schema"
      elementFormDefault="qualified">
      <include schemaLocation="test17.xsd"/>	
      <element name="echoStringParam" type="ns0:inType"/>            
      <element name="echoStringReturn" type="ns0:retType"/>    
      <complexType name="retType">
          <sequence>
              <element name="retElement" type="xsd:string"/>	
	  </sequence>
          <attribute ref="ns0:retAttribute"/>
      </complexType>  
    </schema>
  </types>

  <message name="echoString">
        <part element="ns0:echoStringParam" name="a"/>
  </message>
  <message name="echoStringResponse">
         <part element="ns0:echoStringReturn" name="result"/>
  </message>

  <portType name="FooPortType">
    <operation name="echoString">
      <input message="tns:echoString" />
      <output message="tns:echoStringResponse" />
    </operation>
  </portType>

  <binding name = "FooBinding" type="tns:FooPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />

    <operation name="echoString">
      <soap:operation soapAction="http://www.nothing.org/" style="document" />
      <input>
        <soap:body use="literal" />        
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="FooService">
    <port name="FooPort" binding="tns:FooBinding">
      <soap:address location="http://localhost/docendpoint/TestXSDInclude" />
    </port>
  </service>
  
</definitions>
