src/com/sun/ts/tests/webservices/wsdlImport/http/Simple6/Simple6HttpSvc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions name="Simple6HttpSvc"
             targetNamespace="http://Simple6HttpSvc.org/wsdl"
             xmlns:tns="http://Simple6HttpSvc.org/wsdl"
             xmlns:ptdef="http://Simple6HttpSvc.org/wsdl/PortTypeDef"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

  <import namespace="http://Simple6HttpSvc.org/wsdl/PortTypeDef" location="../../std/Simple6HttpPTSvc.wsdl"/>

  <binding name="TestsBinding" type="ptdef:Tests">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="invokeOneWayTest1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://Simple6HttpSvc.org/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://Simple6HttpSvc.org/wsdl"/></output>
    </operation>
    <operation name="invokeOneWayTest2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://Simple6HttpSvc.org/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://Simple6HttpSvc.org/wsdl"/></output>
    </operation>
    <operation name="invokeOneWayTest3">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://Simple6HttpSvc.org/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://Simple6HttpSvc.org/wsdl"/></output>
    </operation>
    <operation name="invokeTest1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://Simple6HttpSvc.org/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://Simple6HttpSvc.org/wsdl"/></output>
    </operation>
    <operation name="invokeTest2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://Simple6HttpSvc.org/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://Simple6HttpSvc.org/wsdl"/></output>
    </operation>
    <operation name="invokeTest3">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://Simple6HttpSvc.org/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://Simple6HttpSvc.org/wsdl"/></output>
    </operation>
  </binding>
  <service name="Simple6HttpSvc">
    <port name="TestsPort" binding="tns:TestsBinding">
      <soap:address location="http://localhost:8000/Service/ws4ee/Simple6HttpPort"/>
    </port>
  </service>
</definitions>
