jaxws/src/test/java/com/sun/ts/tests/jaxws/ee/w2j/document/literal/onewayhandlertest/server/WSDLOWHandlerTestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions
       name="DLOWHandlerTestService"
       targetNamespace="http://dlowhandlertestservice.org/wsdl"
       xmlns:types="http://dlowhandlertestservice.org/types"
       xmlns="http://schemas.xmlsoap.org/wsdl/"
       xmlns:tns="http://dlowhandlertestservice.org/wsdl"
       xmlns:xsd="http://www.w3.org/2001/XMLSchema"
       xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dlowhandlertestservice.org/types" targetNamespace="http://dlowhandlertestservice.org/types">
      <element name="MyAction">
         <complexType>
            <sequence>
                <element name="action" type="xsd:string"/>
                <element name="testType" type="xsd:string"/>
                <element name="harnessloghost" type="xsd:string"/>
                <element name="harnesslogport" type="xsd:string"/>
                <element name="harnesslogtraceflag" type="xsd:string"/>
            </sequence>
         </complexType>
      </element>

      <element name="GetTrackerDataAction">
         <complexType>
            <sequence>
                <element name="action" type="xsd:string"/>
                <element name="harnessloghost" type="xsd:string"/>
                <element name="harnesslogport" type="xsd:string"/>
                <element name="harnesslogtraceflag" type="xsd:string"/>
            </sequence>
         </complexType>
      </element>
      <element name="GetTrackerDataResult">
        <complexType>
            <sequence>
                 <element name="result" type="string" minOccurs="0" maxOccurs="unbounded"/>
                 <element name="harnessloghost" type="xsd:string"/>
                 <element name="harnesslogport" type="xsd:string"/>
                 <element name="harnesslogtraceflag" type="xsd:string"/>
            </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="Hello" >
    <part name="string" element="types:MyAction" />
  </message>
  <message name="GetTrackerData" >
    <part name="action" element="types:GetTrackerDataAction" />
  </message>
  <message name="GetTrackerDataResponse">
    <part name="result" element="types:GetTrackerDataResult" />
  </message>
  <portType name="Hello">
    <operation name="doHandlerTest1">
      <input message="tns:Hello" />
    </operation>
  </portType>
  <portType name="GetTrackerData">
    <operation name="GetTrackerData">
      <input message="tns:GetTrackerData" />
      <output message="tns:GetTrackerDataResponse" />
    </operation>
  </portType>
  <binding name="HelloBinding" type="tns:Hello">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="doHandlerTest1">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
  </binding>
  <binding name="GetTrackerDataBinding" type="tns:GetTrackerData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetTrackerData">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DLOWHandlerTestService">
    <port name="HelloPort" binding="tns:HelloBinding">
      <soap:address location="http://foo:9999/bar" />
    </port>
    <port name="GetTrackerDataPort" binding="tns:GetTrackerDataBinding">
      <soap:address location="http://foo:9999/bar" />
    </port>
  </service>
</definitions>

