src/com/sun/ts/tests/jaxrpc/wsi/w2j/rpc/literal/R2728/W2JRLR2728TestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2003, 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="W2JRLR2728TestService"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="http://w2jrlr2728testservice.org/W2JRLR2728TestService.wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://w2jrlr2728testservice.org/W2JRLR2728TestService.wsdl"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd1="http://w2jrlr2728testservice.org/xsd">

	<documentation>
		Documentation.
	</documentation>
	
    <types>
        <schema targetNamespace="http://w2jrlr2728testservice.org/xsd"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
            elementFormDefault="qualified">

			<complexType name="EchoExceptionType">
				<sequence>
					<element name="component" type="xsd:string"/>
					<element name="message" type="xsd:string"/>
					<element name="localizedMessage" type="xsd:string"/>
				</sequence>
			</complexType>
			
			<element name="EchoException" type="xsd1:EchoExceptionType"/>
			
    		<complexType name="NonNullString">
        		<sequence>
                	<element name="p1" type="xsd:string" nillable="false"/>
        		</sequence>
		    </complexType>
		    
        </schema>
    </types>
    
    <message name="echoString">
        <part type="xsd1:NonNullString" name="str"/>
    </message>
    <message name="echoStringResponse">
        <part type="xsd1:NonNullString" name="result"/>
    </message>
    <message name="echoException">
    	<part element="xsd1:EchoException" name="exception"/>
    </message>
        
    <portType name="W2JRLR2728Test">
    	<operation name="echoString">
            <input message="tns:echoString"/>
            <output message="tns:echoStringResponse"/>
            <fault name="echoException" message="tns:echoException"/>
    	</operation>
    </portType>
    
    <binding name="W2JRLR2728TestBinding" type="tns:W2JRLR2728Test">
    	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    	<operation name="echoString">
    		<soap:operation/>
            <input>
                <soap:body use="literal" namespace="http://w2jrlr2728testservice.org/W2JRLR2728TestService.wsdl"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://w2jrlr2728testservice.org/W2JRLR2728TestService.wsdl"/>
            </output>
            <!-- No use="literal" attribute -->
            <fault name="echoException">
            	<soap:fault name="echoException"/>
            </fault>
    	</operation>
    </binding>

    <service name="W2JRLR2728TestService">
        <port binding="tns:W2JRLR2728TestBinding"
            name="W2JRLR2728TestPort">
            <soap:address
                location="http://localhost:8000/W2JRLR2728TestService/ws4ee_1/W2JRLR2728Test"/>
        </port>
    </service>
    
</definitions>
