jaxws/src/test/java/com/sun/ts/tests/jaxws/wsi/w2j/document/literal/swareftest/WSW2JDLSwaRefTestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions name="SwaRefTestService"
  targetNamespace="http://SwaRefTestService.org/wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://SwaRefTestService.org/wsdl"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:s="http://SwaRefTestService.org/xsd"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <types>
    <schema targetNamespace="http://SwaRefTestService.org/xsd" 
      xmlns:tns="http://SwaRefTestService.org/xsd"
      xmlns="http://www.w3.org/2001/XMLSchema"
      xmlns:ref="http://ws-i.org/profiles/basic/1.1/xsd"
      elementFormDefault="qualified">
      <import namespace="http://ws-i.org/profiles/basic/1.1/xsd" 
		schemaLocation="http://ws-i.org/profiles/basic/1.1/swaref.xsd"/>
      <element name="SwaRefRequest"  type="tns:SwaRefTypeRequest"/>
      <complexType name="SwaRefTypeRequest">
        <sequence>
          <element name="attachment" type="ref:swaRef"/>
        </sequence>
      </complexType>
      <element name="SwaRefResponse" type="tns:SwaRefTypeResponse"/>
      <complexType name="SwaRefTypeResponse">
        <sequence>
          <element name="attachment" type="ref:swaRef"/>
        </sequence>
      </complexType>
      <element name="SwaRefRequest2"  type="tns:SwaRefTypeRequest2"/>
      <complexType name="SwaRefTypeRequest2">
        <sequence>
          <element name="attachment1" type="ref:swaRef"/>
          <element name="attachment2" type="ref:swaRef"/>
          <element name="attachment3" type="ref:swaRef"/>
        </sequence>
      </complexType>
      <element name="SwaRefResponse2" type="tns:SwaRefTypeResponse2"/>
      <complexType name="SwaRefTypeResponse2">
        <sequence>
          <element name="attachment1" type="ref:swaRef"/>
          <element name="attachment2" type="ref:swaRef"/>
          <element name="attachment3" type="ref:swaRef"/>
        </sequence>
      </complexType>
    </schema>
  </types>

  <message name="swaRefInputRequest">
    <part name="request" element="s:SwaRefRequest"/>
  </message>

  <message name="swaRefInputRequest2">
    <part name="request" element="s:SwaRefRequest2"/>
  </message>

  <message name="swaRefOutputResponse">
    <part name="response" element="s:SwaRefResponse"/>
  </message>

  <message name="swaRefOutputResponse2">
    <part name="response" element="s:SwaRefResponse2"/>
  </message>

  <portType name="SwaRefTest">
    <operation name="echoSingleSwaRefAttachment">
      <input message="tns:swaRefInputRequest"/>
      <output message="tns:swaRefOutputResponse"/>
    </operation>
    <operation name="echoMultipleSwaRefAttachments">
      <input message="tns:swaRefInputRequest2"/>
      <output message="tns:swaRefOutputResponse2"/>
    </operation>
  </portType>

  <binding name="SwaRefTestSoapBinding" type="tns:SwaRefTest">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="echoSingleSwaRefAttachment">
      <soap:operation/>
        <input>
	  <mime:multipartRelated>
	    <mime:part>
              <soap:body use="literal"/>
	    </mime:part>
	  </mime:multipartRelated>
        </input>
        <output>
	  <mime:multipartRelated>
	    <mime:part>
              <soap:body use="literal"/>
	    </mime:part>
	  </mime:multipartRelated>
        </output>
    </operation>
    <operation name="echoMultipleSwaRefAttachments">
      <soap:operation/>
        <input>
	  <mime:multipartRelated>
	    <mime:part>
              <soap:body use="literal"/>
	    </mime:part>
	  </mime:multipartRelated>
        </input>
        <output>
	  <mime:multipartRelated>
	    <mime:part>
              <soap:body use="literal"/>
	    </mime:part>
	  </mime:multipartRelated>
        </output>
    </operation>
  </binding>

  <service name="WSIDLSwaRefTestService">
    <port name="SwaRefTestPort" binding="tns:SwaRefTestSoapBinding">
      <soap:address location="http://foo:9999/bar"/>
    </port>
  </service>
</definitions>
