src/com/sun/ts/tests/jaxrpc/wsi/w2j/rpc/literal/R2113/SimpleTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2003, 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions name="SimpleTest" targetNamespace="http://simpletestservice.org/wsdl" xmlns:tns="http://simpletestservice.org/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://simpletestservice.org/types">
  <types>
    <schema targetNamespace="http://simpletestservice.org/types" xmlns:tns="http://simpletestservice.org/types" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <complexType name="stringArray">
        <sequence>
          <element name="String" type="string" minOccurs="0" maxOccurs="unbounded"/></sequence></complexType></schema></types>
  <message name="SimpleEndpoint_arrayOperation"/>
  <message name="SimpleEndpoint_arrayOperationResponse">
    <part name="result" type="ns2:stringArray"/></message>
  <message name="SimpleEndpoint_arrayOperationFromClient">
    <part name="arrayOfString_1" type="ns2:stringArray"/></message>
  <message name="SimpleEndpoint_arrayOperationFromClientResponse">
    <part name="result" type="xsd:string"/></message>
  <message name="SimpleEndpoint_helloWorld"/>
  <message name="SimpleEndpoint_helloWorldResponse">
    <part name="result" type="xsd:string"/></message>
  <portType name="SimpleEndpoint">
    <operation name="arrayOperation">
      <input message="tns:SimpleEndpoint_arrayOperation"/>
      <output message="tns:SimpleEndpoint_arrayOperationResponse"/></operation>
    <operation name="arrayOperationFromClient">
      <input message="tns:SimpleEndpoint_arrayOperationFromClient"/>
      <output message="tns:SimpleEndpoint_arrayOperationFromClientResponse"/></operation>
    <operation name="helloWorld">
      <input message="tns:SimpleEndpoint_helloWorld"/>
      <output message="tns:SimpleEndpoint_helloWorldResponse"/></operation></portType>
  <binding name="SimpleEndpointBinding" type="tns:SimpleEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="arrayOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://simpletestservice.org/wsdl"/></input>
      <output>
        <soap:body use="literal" namespace="http://simpletestservice.org/wsdl"/></output>
    </operation>
    <operation name="arrayOperationFromClient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://simpletestservice.org/wsdl"/></input>
      <output>
        <soap:body use="literal" namespace="http://simpletestservice.org/wsdl"/></output>
    </operation>
    <operation name="helloWorld">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://simpletestservice.org/wsdl"/></input>
      <output>
        <soap:body use="literal" namespace="http://simpletestservice.org/wsdl"/></output>
    </operation>
  </binding>
  <service name="SimpleTest">
    <port name="SimpleEndpointPort" binding="tns:SimpleEndpointBinding">
      <soap:address location="http://localhost:8000/W2JRLR2113TestService/ws4ee_1/SimpleTest"/></port></service></definitions>
