jaxws/src/main/java/com/sun/ts/tests/jaxws/wsa/w2j/document/literal/addressingfeature/AddressingFeatureTestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions
    name="AddressingFeatureTestService"
    targetNamespace="http://addressingfeatureservice.org/wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://addressingfeatureservice.org/wsdl"
    xmlns:s="http://addressingfeatureservice.org/xsd"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">

    <types>        
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://addressingfeatureservice.org/xsd"
            elementFormDefault="qualified">
         
            <complexType name="addNumbersResponse">
                <sequence>
                    <element name="testName" type="string"/>
                    <element name="return" type="int"/>
                </sequence>
            </complexType>
            <element name="addNumbersResponse" type="s:addNumbersResponse"/>
            
            <complexType name="addNumbers">
                <sequence>
                    <element name="testName" type="string"/>
                    <element name="number1" type="int"/>
                    <element name="number2" type="int"/>                    
                </sequence>
            </complexType>
            <element name="addNumbers" type="s:addNumbers"/>                                         
        </schema>
    </types>
        
    <message name="addNumbers">
        <part name="parameters" element="s:addNumbers"/>
    </message>
    <message name="addNumbersResponse">
        <part name="result" element="s:addNumbersResponse"/>
    </message>        
        
    <portType name="AddressingFeatureTest1"> 
        <operation name="addNumbers">
            <input message="tns:addNumbers" name="addRequest" wsam:Action="inputAction"/>
            <output message="tns:addNumbersResponse" name="addResponse" wsam:Action="outputAction"/>
        </operation>
    </portType>

    <portType name="AddressingFeatureTest2"> 
        <operation name="addNumbers">
            <input message="tns:addNumbers" name="addRequest" wsam:Action="inputAction"/>
            <output message="tns:addNumbersResponse" name="addResponse" wsam:Action="outputAction"/>
        </operation>
    </portType> 
                      
    <portType name="AddressingFeatureTest3"> 
        <operation name="addNumbers">
            <input message="tns:addNumbers" name="addRequest" wsam:Action="inputAction"/>
            <output message="tns:addNumbersResponse" name="addResponse" wsam:Action="outputAction"/>
        </operation>
    </portType>
    
    <!-- Addressing optional, override in Impl to turn it off  -->
    <binding name="AddressingBinding1" type="tns:AddressingFeatureTest1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/> 
	<wsp:Policy>
            <wsam:Addressing wsp:Optional="true">
		<wsp:Policy/>
            </wsam:Addressing>
	</wsp:Policy>
        <operation name="addNumbers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Addressing required -->
    <binding name="AddressingBinding2" type="tns:AddressingFeatureTest2">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
	<wsp:Policy>
            <wsam:Addressing>
		<wsp:Policy/>
            </wsam:Addressing>
	</wsp:Policy>
        <operation name="addNumbers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding> 
                  
    <!-- Addressing required, override in Impl to turn it off -->
    <binding name="AddressingBinding3" type="tns:AddressingFeatureTest3">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
	<wsp:Policy>
            <wsam:Addressing>
		<wsp:Policy/>
            </wsam:Addressing>
	</wsp:Policy>
        <operation name="addNumbers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding> 
     
    <service name="AddressingFeatureTestService">
        <port name="AddressingFeatureTest1Port" binding="tns:AddressingBinding1">
            <soap:address location="http://foo:9999/bar"/>
        </port>
        <port name="AddressingFeatureTest2Port" binding="tns:AddressingBinding2">
            <soap:address location="http://foo:9999/bar"/>
        </port>  
        <port name="AddressingFeatureTest3Port" binding="tns:AddressingBinding3">
            <soap:address location="http://foo:9999/bar"/>
        </port>
    </service>
</definitions>
