jaxws/src/main/java/com/sun/ts/tests/jaxws/mapping/w2jmapping/rpc/literal/annotations/W2JRLAnnotations.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions name="W2JRLAnnotations"
    targetNamespace="http://w2jrlannotations.org/wsdl"
    xmlns:tns="http://w2jrlannotations.org/wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

  <types>
    <xsd:schema targetNamespace="http://w2jrlannotations.org/wsdl" attributeFormDefault="qualified" elementFormDefault="qualified">
      <xsd:element name="MyFault">
           <xsd:complexType>
             <xsd:sequence>
               <xsd:element name="message" type="xsd:string"/>
             </xsd:sequence>
           </xsd:complexType>
      </xsd:element>
      <xsd:element name="MyHeader">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="message" type="xsd:string" minOccurs="0"/>
              <xsd:element name="mustUnderstand" type="xsd:boolean"/>
              <xsd:element name="testName" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </types>


  <message name="hello">
    <part name="parameter" type="xsd:string"/>
  </message>
  <message name="helloResponse">
    <part name="result" type="xsd:string"/>
  </message>
  <message name="oneway">
    <part name="varString" type="xsd:string"/>
  </message>

  <message name="mode1">
    <part name="varString" type="xsd:string" />
  </message>
  <message name="mode1Response"/>

  <message name="mode2">
    <part name="varString" type="xsd:string" />
  </message>
  <message name="mode2Response">
    <part name="varString" type="xsd:string" />
  </message>

  <message name="mode3"/>
  <message name="mode3Response">
    <part name="varString" type="xsd:string" />
  </message>

  <message name="MyFault">
    <part name="MyFault" element="tns:MyFault"/>
  </message>
  <message name="MyHeader">
    <part name="MyHeader" element="tns:MyHeader"/>
  </message>

  <portType name="W2JRLAnnotationsEndpoint">
    <operation name="helloOperation">
      <input message="tns:hello"/>
      <output message="tns:helloResponse"/>
      <fault name="MyFault" message="tns:MyFault"/>
    </operation>
    <operation name="onewayOperation">
      <input message="tns:oneway"/>
    </operation>
    <operation name="mode1Operation" parameterOrder="varString">
      <input message="tns:mode1"/>
      <output message="tns:mode1Response"/>
    </operation>
    <operation name="mode2Operation" parameterOrder="varString">
      <input message="tns:mode2"/>
      <output message="tns:mode2Response"/>
    </operation>
    <operation name="mode3Operation" parameterOrder="varString">
      <input message="tns:mode3"/>
      <output message="tns:mode3Response"/>
    </operation>
  </portType>
  <binding name="W2JRLAnnotationsEndpointBinding" type="tns:W2JRLAnnotationsEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="helloOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://w2jrlannotations.org/wsdl"/>
        <soap:header message="tns:MyHeader" part="MyHeader" use="literal"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://w2jrlannotations.org/wsdl"/>
      </output>
      <fault name="MyFault">
        <soap:fault name="MyFault" use="literal"/>
      </fault>
    </operation>
    <operation name="onewayOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://w2jrlannotations.org/wsdl"/>
      </input>
    </operation>
    <operation name="mode1Operation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="varString" namespace="http://w2jrlannotations.org/wsdl"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://w2jrlannotations.org/wsdl"/>
      </output>
    </operation>
    <operation name="mode2Operation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="varString" namespace="http://w2jrlannotations.org/wsdl"/>
      </input>
      <output>
        <soap:body use="literal" parts="varString" namespace="http://w2jrlannotations.org/wsdl"/>
      </output>
    </operation>
    <operation name="mode3Operation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://w2jrlannotations.org/wsdl"/>
      </input>
      <output>
        <soap:body use="literal" parts="varString" namespace="http://w2jrlannotations.org/wsdl"/>
      </output>
    </operation>
  </binding>
  <service name="W2JRLAnnotations">
    <port name="W2JRLAnnotationsEndpointPort" binding="tns:W2JRLAnnotationsEndpointBinding">
      <soap:address location="http://foo:9999/bar"/>
    </port>
  </service>
</definitions>
