src/com/sun/ts/tests/webservices/handlerEjb/Handler/HandlerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions name="HandlerService" targetNamespace="http://handlerservice.org/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://handlerservice.org/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
  </types>
  <message name="Hello_doHandlerTest1Response">
    <part name="result" type="xsd:string"/>
  </message>
  <message name="Hello2_doHandlerTest2">
  </message>
  <message name="Hello_doHandlerTest1">
  </message>
  <message name="Hello2_doHandlerTest2Response">
    <part name="result" type="xsd:string"/>
  </message>
  <portType name="Hello2">
    <operation name="doHandlerTest2" >
      <input message="tns:Hello2_doHandlerTest2"/>
      <output message="tns:Hello2_doHandlerTest2Response"/>
    </operation>
  </portType>
  <portType name="Hello">
    <operation name="doHandlerTest1" >
      <input message="tns:Hello_doHandlerTest1"/>
      <output message="tns:Hello_doHandlerTest1Response"/>
    </operation>
  </portType>
  <binding name="HelloBinding" type="tns:Hello">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="doHandlerTest1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://handlerservice.org/wsdl"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://handlerservice.org/wsdl"/>
      </output>
    </operation>
  </binding>
  <binding name="Hello2Binding" type="tns:Hello2">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="doHandlerTest2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://handlerservice.org/wsdl"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://handlerservice.org/wsdl"/>
      </output>
    </operation>
  </binding>
  <service name="HandlerService">
    <port name="Hello2Port" binding="tns:Hello2Binding">
      <soap:address location="http://localhost:8000/handler/ws4ee_2/HandlerPort2"/>
    </port>
    <port name="HelloPort" binding="tns:HelloBinding">
      <soap:address location="http://localhost:8000/handler/ws4ee_1/HandlerPort"/>
    </port>
  </service>
</definitions>
