src/com/sun/ts/tests/jaxws/wsa/w2j/document/literal/anonymous/WSAW2JDLAnonymousTest.wsdl

<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions name="AddNumbers" targetNamespace="http://example.com/"
	     xmlns:tns="http://example.com/"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    	     xmlns:wsp="http://www.w3.org/ns/ws-policy"
    	     xmlns:wsa="http://www.w3.org/2005/08/addressing"
    	     xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
    <types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                    targetNamespace="http://example.com/">
            <complexType name="addNumbersResponse">
                <sequence>
                    <element name="return" type="xsd:int"/>
                </sequence>
            </complexType>
            <element name="addNumbersResponse" type="tns:addNumbersResponse"/>

            <complexType name="addNumbers">
                <sequence>
                    <element name="number1" type="xsd:int"/>
                    <element name="number2" type="xsd:int"/>
                    <element name="testName" type="xsd:string"/>
                </sequence>
            </complexType>
            <element name="addNumbers" type="tns:addNumbers"/>

            <complexType name="AddNumbersFault">
                <sequence>
                    <element name="detail" type="xsd:string"/>
                    <element name="message" type="xsd:string"/>
                </sequence>
            </complexType>
            <element name="AddNumbersFault" type="tns:AddNumbersFault"/>
        </xsd:schema>
    </types>
    <message name="addNumbers">
        <part name="parameters" element="tns:addNumbers"/>
    </message>
    <message name="addNumbersResponse">
        <part name="result" element="tns:addNumbersResponse"/>
    </message>
    <message name="addNumbersFault">
        <part name="AddNumbersFault" element="tns:AddNumbersFault"/>
    </message>
    <portType name="AddNumbersPortType3">
        <operation name="addNumbers">
            <input message="tns:addNumbers" name="add"/>
            <output message="tns:addNumbersResponse" name="addResponse"/>
            <fault name="addFault" message="tns:addNumbersFault"/>
        </operation>
    </portType>
    <portType name="AddNumbersPortType4">
        <operation name="addNumbers">
            <input message="tns:addNumbers" name="add"/>
            <output message="tns:addNumbersResponse" name="add4Response"/>
            <fault name="addFault" message="tns:addNumbersFault"/>
        </operation>
    </portType>

    <binding name="AddNumbersBinding3" type="tns:AddNumbersPortType3">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <!-- Requires Anonymous Responses -->
	<wsp:Policy>
            <wsam:Addressing>
		<wsp:Policy>
		    <wsam:AnonymousResponses/>
		</wsp:Policy>
            </wsam:Addressing>
	</wsp:Policy>
        <operation name="addNumbers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="addFault">
                <soap:fault name="addFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <binding name="AddNumbersBinding4" type="tns:AddNumbersPortType4">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <!-- Requires NonAnonymous Responses -->
	<wsp:Policy>
            <wsam:Addressing>
		<wsp:Policy>
		    <wsam:NonAnonymousResponses/>
		</wsp:Policy>
            </wsam:Addressing>
	</wsp:Policy>
        <operation name="addNumbers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="addFault">
                <soap:fault name="addFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="AddNumbersService">
        <port name="AddNumbersPort3" binding="tns:AddNumbersBinding3">
            <soap:address location="http://foo:9999/bar"/>
        </port>
        <port name="AddNumbersPort4" binding="tns:AddNumbersBinding4">
            <soap:address location="http://foo:9999/bar"/>
        </port>
    </service>
</definitions>
