jaxws/src/test/java/com/sun/ts/tests/jaxws/ee/w2j/rpc/literal/headertest/WSW2JRLHeaderTestDefs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions
        name="HeaderTestDefs"
	targetNamespace="http://headertestservice.org/HeaderTestService.wsdl"
	xmlns:tns="http://headertestservice.org/HeaderTestService.wsdl"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ns4="http://headertestservice.org/types4">

  <types>
    <xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:import namespace="http://headertestservice.org/types4" schemaLocation="WSW2JRLHeaderTestDefs.xsd"/>
        </xsd:schema>
  </types>

  <message name="SubmitOrderRequest">
    <part name="ProductOrderRequest" type="ns4:ProductOrderRequest"/>
    <part name="ConfigHeader" element="ns4:ConfigHeaderRequest"/>
  </message>

  <message name="SubmitOrderResponse">
    <part name="ProductOrderResponse" type="ns4:ProductOrderResponse"/>
  </message>

  <message name="BadOrderFault">
    <part name="Reason" element="ns4:BadOrderFaultReason"/>
  </message>

  <message name="ConfigFault">
    <part name="ConfigFault" element="ns4:ConfigFaultReason"/>
  </message>

  <portType name="HeaderTest">
    <operation name="submitOrder">
      <input message="tns:SubmitOrderRequest"/>
      <output message="tns:SubmitOrderResponse"/>
      <fault name="BadOrderFault" message="tns:BadOrderFault"/>
      <fault name="ConfigFault" message="tns:ConfigFault"/>
    </operation>
  </portType>

  <binding name="HeaderTestSoapBinding" type="tns:HeaderTest">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/> 
      <operation name="submitOrder">
        <soap:operation soapAction=""/>
        <input>
          <soap:body use="literal" parts="ProductOrderRequest" namespace="http://headertestservice.org/HeaderTestService.wsdl"/>
	  <soap:header message="tns:SubmitOrderRequest" part="ConfigHeader" use="literal"/>
        </input>
        <output>
          <soap:body use="literal" namespace="http://headertestservice.org/HeaderTestService.wsdl"/>
        </output>
	<fault name="BadOrderFault">
	  <soap:fault name="BadOrderFault" use="literal"/>
	</fault>
	<fault name="ConfigFault">
	  <soap:fault name="ConfigFault" use="literal"/>
	</fault>
      </operation>
  </binding>
</definitions>
