jaxws/src/main/java/com/sun/ts/tests/jaxws/wsa/w2j/document/literal/requiredfalse/WSAW2JDLRequiredFalseTest.wsdl

<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions name="AddNumbers" targetNamespace="http://example.com/" xmlns:tns="http://example.com/"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    	     xmlns:wsp="http://www.w3.org/ns/ws-policy"
    	     xmlns:wsa="http://www.w3.org/2005/08/addressing"
    	     xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
    <types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                    targetNamespace="http://example.com/">

            <complexType name="addNumbersResponse">
                <sequence>
                    <element name="return" type="xsd:int"/>
                </sequence>
            </complexType>
            <element name="addNumbersResponse" type="tns:addNumbersResponse"/>
            <element name="addNumbers2Response" type="tns:addNumbersResponse"/>
            <element name="addNumbers3Response" type="tns:addNumbersResponse"/>
            <element name="addNumbers4Response" type="tns:addNumbersResponse"/>
            <element name="addNumbers5Response" type="tns:addNumbersResponse"/>
            <element name="addNumbers6Response" type="tns:addNumbersResponse"/>
            <element name="addNumbers7Response" type="tns:addNumbersResponse"/>
            <element name="addNumbers8Response" type="tns:addNumbersResponse"/>

            <complexType name="addNumbers">
                <sequence>
                    <element name="number1" type="xsd:int"/>
                    <element name="number2" type="xsd:int"/>
                </sequence>
            </complexType>
            <element name="addNumbers" type="tns:addNumbers"/>
            <element name="addNumbers2" type="tns:addNumbers"/>
            <element name="addNumbers3" type="tns:addNumbers"/>
            <element name="addNumbers4" type="tns:addNumbers"/>
            <element name="addNumbers5" type="tns:addNumbers"/>
            <element name="addNumbers6" type="tns:addNumbers"/>
            <element name="addNumbers7" type="tns:addNumbers"/>
            <element name="addNumbers8" type="tns:addNumbers"/>

            <element name="AddNumbersFault" type="tns:AddNumbersFault"/>
            <complexType name="AddNumbersFault">
                <sequence>
                    <element name="detail" type="xsd:string"/>
                    <element name="message" type="xsd:string"/>
                </sequence>
            </complexType>
        </xsd:schema>
    </types>
    <message name="addNumbers">
        <part name="parameters" element="tns:addNumbers"/>
    </message>
    <message name="addNumbersResponse">
        <part name="result" element="tns:addNumbersResponse"/>
    </message>
    <message name="addNumbers2">
        <part name="parameters" element="tns:addNumbers2"/>
    </message>
    <message name="addNumbers2Response">
        <part name="result" element="tns:addNumbers2Response"/>
    </message>
    <message name="addNumbers3">
        <part name="parameters" element="tns:addNumbers3"/>
    </message>
    <message name="addNumbers3Response">
        <part name="result" element="tns:addNumbers3Response"/>
    </message>
    <message name="addNumbers4">
        <part name="parameters" element="tns:addNumbers4"/>
    </message>
    <message name="addNumbers4Response">
        <part name="result" element="tns:addNumbers4Response"/>
    </message>
    <message name="addNumbers5">
        <part name="parameters" element="tns:addNumbers5"/>
    </message>
    <message name="addNumbers5Response">
        <part name="result" element="tns:addNumbers5Response"/>
    </message>
    <message name="addNumbers6">
        <part name="parameters" element="tns:addNumbers6"/>
    </message>
    <message name="addNumbers6Response">
        <part name="result" element="tns:addNumbers6Response"/>
    </message>
    <message name="addNumbers7">
        <part name="parameters" element="tns:addNumbers7"/>
    </message>
    <message name="addNumbers7Response">
        <part name="result" element="tns:addNumbers7Response"/>
    </message>
    <message name="addNumbers8">
        <part name="parameters" element="tns:addNumbers8"/>
    </message>
    <message name="addNumbers8Response">
        <part name="result" element="tns:addNumbers8Response"/>
    </message>
    <message name="addNumbersFault">
        <part name="AddNumbersFault" element="tns:AddNumbersFault"/>
    </message>
    <portType name="AddNumbersPortType">
        <operation name="addNumbers">
            <input message="tns:addNumbers"/>
            <output message="tns:addNumbersResponse"/>
            <fault name="addNumbersFault" message="tns:addNumbersFault"/>
        </operation>
        <operation name="addNumbers2">
            <input message="tns:addNumbers2" name="add2In"/>
            <output message="tns:addNumbers2Response" name="add2Out"/>
            <fault name="addNumbersFault" message="tns:addNumbersFault"/>
        </operation>
        <operation name="addNumbers3">
            <input message="tns:addNumbers3" name="add3"/>
            <output message="tns:addNumbers3Response"/>
            <fault name="addNumbersFault" message="tns:addNumbersFault"/>
        </operation>
        <operation name="addNumbers4">
            <input message="tns:addNumbers4"/>
            <output message="tns:addNumbers4Response" name="add4"/>
            <fault name="addNumbersFault" message="tns:addNumbersFault"/>
        </operation>
        <operation name="addNumbers5">
            <input message="tns:addNumbers5" wsam:Action="5in"/>
            <output message="tns:addNumbers5Response" wsam:Action="5out"/>
            <fault name="addNumbersFault" message="tns:addNumbersFault"/>
        </operation>
        <operation name="addNumbers6">
            <input message="tns:addNumbers6" wsam:Action="6in"/>
            <output message="tns:addNumbers6Response"/>
            <fault name="addNumbersFault" message="tns:addNumbersFault"/>
        </operation>
        <operation name="addNumbers7">
            <input message="tns:addNumbers7"/>
            <output message="tns:addNumbers7Response" wsam:Action="7out"/>
            <fault name="addNumbersFault" message="tns:addNumbersFault"/>
        </operation>
        <operation name="addNumbers8">
            <input message="tns:addNumbers8" wsam:Action=""/>
            <output message="tns:addNumbers8Response" wsam:Action=""/>
            <fault name="addNumbersFault" message="tns:addNumbersFault" wsam:Action=""/>
        </operation>
    </portType>
    <binding name="AddNumbersBinding" type="tns:AddNumbersPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
	<wsp:Policy>
            <wsam:Addressing>
		<wsp:Policy/>
            </wsam:Addressing>
	</wsp:Policy>
        <operation name="addNumbers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="addNumbersFault">
                <soap:fault name="addNumbersFault" use="literal"/>
            </fault>
        </operation>
        <operation name="addNumbers2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="addNumbersFault">
                <soap:fault name="addNumbersFault" use="literal"/>
            </fault>
        </operation>
        <operation name="addNumbers3">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="addNumbersFault">
                <soap:fault name="addNumbersFault" use="literal"/>
            </fault>
        </operation>
        <operation name="addNumbers4">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="addNumbersFault">
                <soap:fault name="addNumbersFault" use="literal"/>
            </fault>
        </operation>
        <operation name="addNumbers5">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="addNumbersFault">
                <soap:fault name="addNumbersFault" use="literal"/>
            </fault>
        </operation>
        <operation name="addNumbers6">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="addNumbersFault">
                <soap:fault name="addNumbersFault" use="literal"/>
            </fault>
        </operation>
        <operation name="addNumbers7">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="addNumbersFault">
                <soap:fault name="addNumbersFault" use="literal"/>
            </fault>
        </operation>
        <operation name="addNumbers8">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="addNumbersFault">
                <soap:fault name="addNumbersFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="AddNumbersService">
        <port name="AddNumbersPort" binding="tns:AddNumbersBinding">
            <soap:address location="http://foo:9999/bar"/>
        </port>
    </service>
</definitions>
