webservices13/src/test/java/com/sun/ts/tests/webservices13/servlet/WSAddressingFeaturesTestUsingDDs/EchoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions name="EchoService" targetNamespace="http://Echo.org"
	xmlns="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:tns="http://Echo.org" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsa="http://www.w3.org/2005/08/addressing"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types />
  <message name="EchoInput">
    <part name="string1" type="xsd:string" />
    <part name="testName" type="xsd:string" />
  </message>
  <message name="EchoOutput">
    <part name="testName" type="xsd:string" />
    <part name="result" type="xsd:string" />
  </message>
  <portType name="Echo">
    <operation name="echo" parameterOrder="string1 testName">
      <input message="tns:EchoInput" wsam:Action="EchoInputAction" />
      <output message="tns:EchoOutput" wsam:Action="EchoOutputAction" />
    </operation>
  </portType>
  <portType name="Echo2">
    <operation name="echo" parameterOrder="string1 testName">
      <input message="tns:EchoInput" wsam:Action="EchoInputAction" />
      <output message="tns:EchoOutput" wsam:Action="EchoOutputAction" />
    </operation>
  </portType>
  <portType name="Echo3">
    <operation name="echo" parameterOrder="string1 testName">
      <input message="tns:EchoInput" wsam:Action="EchoInputAction" />
      <output message="tns:EchoOutput" wsam:Action="EchoOutputAction" />
    </operation>
  </portType>
  <portType name="Echo4">
    <operation name="echo" parameterOrder="string1 testName">
      <input message="tns:EchoInput" wsam:Action="EchoInputAction" />
      <output message="tns:EchoOutput" wsam:Action="EchoOutputAction" />
    </operation>
  </portType>
  <binding name="EchoBinding" type="tns:Echo">
    <wsp:Policy>
      <wsam:Addressing wsp:Optional="true">
        <wsp:Policy/>
      </wsam:Addressing>
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="echo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://Echo.org" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://Echo.org" />
      </output>
    </operation>
  </binding>
  <binding name="Echo2Binding" type="tns:Echo2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="echo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://Echo.org" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://Echo.org" />
      </output>
    </operation>
  </binding>
  <binding name="Echo3Binding" type="tns:Echo3">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <!-- Requires Anonymous Responses -->
    <wsp:Policy>
        <wsam:Addressing>
            <wsp:Policy>
                <wsam:AnonymousResponses/>
            </wsp:Policy>
        </wsam:Addressing>
    </wsp:Policy>
    <operation name="echo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://Echo.org" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://Echo.org" />
      </output>
    </operation>
  </binding>
  <binding name="Echo4Binding" type="tns:Echo4">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <!-- Requires NonAnonymous Responses -->
    <wsp:Policy>
        <wsam:Addressing>
            <wsp:Policy>
                <wsam:NonAnonymousResponses/>
            </wsp:Policy>
        </wsam:Addressing>
    </wsp:Policy>
    <operation name="echo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://Echo.org" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://Echo.org" />
      </output>
    </operation>
  </binding>
  <service name="EchoService">
    <port name="EchoPort" binding="tns:EchoBinding">
      <soap:address location="http://foo:9999/bar"/>
    </port>
    <port name="Echo2Port" binding="tns:Echo2Binding">
      <soap:address location="http://foo:9999/bar"/>
    </port>
    <port name="Echo3Port" binding="tns:Echo3Binding">
      <soap:address location="http://foo:9999/bar"/>
    </port>
    <port name="Echo4Port" binding="tns:Echo4Binding">
      <soap:address location="http://foo:9999/bar"/>
    </port>
  </service>
</definitions>

