jaxws/src/main/java/com/sun/ts/tests/jaxws/ee/w2j/rpc/literal/onewayhandlertest/server/WSRLOWHandlerTestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions
       name="RLOWHandlerTestService"
       targetNamespace="http://rlowhandlertestservice.org/wsdl"
       xmlns:types="http://rlowhandlertestservice.org/types"
       xmlns="http://schemas.xmlsoap.org/wsdl/"
       xmlns:tns="http://rlowhandlertestservice.org/wsdl"
       xmlns:xsd="http://www.w3.org/2001/XMLSchema"
       xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rlowhandlertestservice.org/types" targetNamespace="http://rlowhandlertestservice.org/types">
      <complexType name="MyActionType">
            <sequence>
                <element name="action" type="xsd:string"/>
                <element name="testType" type="xsd:string"/>
                <element name="harnessloghost" type="xsd:string"/>
                <element name="harnesslogport" type="xsd:string"/>
                <element name="harnesslogtraceflag" type="xsd:string"/>
            </sequence>
      </complexType>
      <complexType name="MyResultType">
            <sequence>
                <element name="action" type="xsd:string"/>
                <element name="testType" type="xsd:string"/>
                <element name="errors" type="xsd:string"/>
                <element name="harnessloghost" type="xsd:string"/>
                <element name="harnesslogport" type="xsd:string"/>
                <element name="harnesslogtraceflag" type="xsd:string"/>
            </sequence>
      </complexType>

      <complexType name="GetTrackerDataAction">
            <sequence>
                <element name="action" type="xsd:string"/>
                <element name="harnessloghost" type="xsd:string"/>
                <element name="harnesslogport" type="xsd:string"/>
                <element name="harnesslogtraceflag" type="xsd:string"/>
            </sequence>
      </complexType>
      <complexType name="GetTrackerDataResult">
            <sequence>
                 <element name="result" type="string" minOccurs="0" maxOccurs="unbounded"/>
                 <element name="harnessloghost" type="xsd:string"/>
                 <element name="harnesslogport" type="xsd:string"/>
                 <element name="harnesslogtraceflag" type="xsd:string"/>
            </sequence>
      </complexType>
    </schema>
  </types>
  <message name="Hello" >
    <part name="string" type="types:MyActionType" />
  </message>
  <message name="HelloResponse">
    <part name="result" type="types:MyResultType" />
  </message>
  <message name="GetTrackerData" >
    <part name="action" type="types:GetTrackerDataAction" />
  </message>
  <message name="GetTrackerDataResponse">
    <part name="result" type="types:GetTrackerDataResult" />
  </message>
  <portType name="Hello">
    <operation name="doHandlerTest1">
      <input message="tns:Hello" />
    </operation>
  </portType>
  <portType name="GetTrackerData">
    <operation name="GetTrackerData">
      <input message="tns:GetTrackerData" />
      <output message="tns:GetTrackerDataResponse" />
    </operation>
  </portType>
  <binding name="HelloBinding" type="tns:Hello">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="doHandlerTest1">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://rlowhandlertestservice.org/wsdl"/>
      </input>
    </operation>
  </binding>
  <binding name="GetTrackerDataBinding" type="tns:GetTrackerData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="GetTrackerData">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://rlowhandlertestservice.org/wsdl" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://rlowhandlertestservice.org/wsdl" />
      </output>
    </operation>
  </binding>
  <service name="RLOWHandlerTestService">
    <port name="HelloPort" binding="tns:HelloBinding">
      <soap:address location="http://foo:9999/bar" />
    </port>
    <port name="GetTrackerDataPort" binding="tns:GetTrackerDataBinding">
      <soap:address location="http://foo:9999/bar" />
    </port>
  </service>
</definitions>

