jaxws/src/main/java/com/sun/ts/tests/jaxws/wsi/w2j/rpc/literal/R2707/W2JRLR2707TestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2003, 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="W2JRLR2707TestService"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="http://w2jrlr2707testservice.org/W2JRLR2707TestService.wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://w2jrlr2707testservice.org/W2JRLR2707TestService.wsdl"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd1="http://w2jrlr2707testservice.org/xsd">

	<documentation>
		Documentation.
	</documentation>
	
    <types>
        <schema targetNamespace="http://w2jrlr2707testservice.org/xsd"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
            elementFormDefault="qualified">

    		<complexType name="NonNullString">
        		<sequence>
                	<element name="p1" type="xsd:string" nillable="false"/>
        		</sequence>
		    </complexType>

            <element name="ServiceFaultReason" type="string"/>
        
            <element name="HeaderRequest" type="xsd1:Header"/>
            <complexType name="Header">
                <sequence>
                    <annotation>
                        <documentation>
                    		This is the configuration header
        		</documentation>
                    </annotation>
                    <element name="message" type="string"/>
                    <element name="testName" type="string"/>
                </sequence>
            </complexType>
        
        </schema>
    </types>
   
    <message name="echoString">
        <part type="xsd1:NonNullString" name="str"/>
        <part element="xsd1:HeaderRequest" name="header"/>
    </message>
    <message name="echoStringResponse">
        <part type="xsd1:NonNullString" name="result"/>
    </message>
    <message name="ServiceFault">
        <part element="xsd1:ServiceFaultReason" name="ServiceFault"/>
    </message>
        
    <portType name="W2JRLR2707Test">
    	<operation name="echoString">
            <input message="tns:echoString"/>
            <output message="tns:echoStringResponse"/>
            <fault name="ServiceFault" message="tns:ServiceFault"/>
    	</operation>
    </portType>
    
    <binding name="W2JRLR2707TestBinding" type="tns:W2JRLR2707Test">
    	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    	<operation name="echoString">
    		<soap:operation/>
    		<!-- No use="literal" attribute -->
            <input>
                <soap:body parts="str" namespace="http://w2jrlr2707testservice.org/W2JRLR2707TestService.wsdl"/>
		<soap:header message="tns:echoString" part="header">
		</soap:header>
            </input>
            <!-- No use="literal" attribute -->
            <output>
                <soap:body namespace="http://w2jrlr2707testservice.org/W2JRLR2707TestService.wsdl"/>
            </output>
            <!-- No use="literal" attribute -->
            <fault name="ServiceFault">
                <soap:fault name="ServiceFault"/>
            </fault>
    	</operation>
    </binding>

    <service name="W2JRLR2707TestService">
        <port binding="tns:W2JRLR2707TestBinding"
            name="W2JRLR2707TestPort">
            <soap:address
                location="http://foo:9999/bar"/>
        </port>
    </service>
    
</definitions>
