src/com/sun/ts/tests/jaxrpc/ee/j2w/multiinterfacetest/MultiInterfaceTestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions name="MultiInterfaceTestService" targetNamespace="http://multiinterfacetestservice.org/wsdl" xmlns:tns="http://multiinterfacetestservice.org/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types/>
  <message name="MultiInterfaceTest1_hello1">
    <part name="String_1" type="xsd:string"/></message>
  <message name="MultiInterfaceTest1_hello1Response">
    <part name="result" type="xsd:string"/></message>
  <message name="MultiInterfaceTest2_hello1">
    <part name="String_1" type="xsd:string"/></message>
  <message name="MultiInterfaceTest2_hello1Response">
    <part name="result" type="xsd:string"/></message>
  <message name="MultiInterfaceTest2_hello2">
    <part name="String_1" type="xsd:string"/></message>
  <message name="MultiInterfaceTest2_hello2Response">
    <part name="result" type="xsd:string"/></message>
  <portType name="MultiInterfaceTest1">
    <operation name="hello1" parameterOrder="String_1">
      <input message="tns:MultiInterfaceTest1_hello1"/>
      <output message="tns:MultiInterfaceTest1_hello1Response"/></operation></portType>
  <portType name="MultiInterfaceTest2">
    <operation name="hello1" parameterOrder="String_1">
      <input message="tns:MultiInterfaceTest2_hello1"/>
      <output message="tns:MultiInterfaceTest2_hello1Response"/></operation>
    <operation name="hello2" parameterOrder="String_1">
      <input message="tns:MultiInterfaceTest2_hello2"/>
      <output message="tns:MultiInterfaceTest2_hello2Response"/></operation></portType>
  <binding name="MultiInterfaceTest1Binding" type="tns:MultiInterfaceTest1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="hello1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://multiinterfacetestservice.org/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://multiinterfacetestservice.org/wsdl"/></output>
    </operation>
  </binding>
  <binding name="MultiInterfaceTest2Binding" type="tns:MultiInterfaceTest2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="hello1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://multiinterfacetestservice.org/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://multiinterfacetestservice.org/wsdl"/></output>
    </operation>
    <operation name="hello2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://multiinterfacetestservice.org/wsdl"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://multiinterfacetestservice.org/wsdl"/></output>
    </operation>
  </binding>
  <service name="MultiInterfaceTestService">
    <port name="MultiInterfaceTest1Port" binding="tns:MultiInterfaceTest1Binding">
      <soap:address location="http://localhost:8080/J2WMIT/jaxrpc/MultiInterfaceTest1"/></port>
    <port name="MultiInterfaceTest2Port" binding="tns:MultiInterfaceTest2Binding">
      <soap:address location="http://localhost:8080/J2WMIT/jaxrpc/MultiInterfaceTest2"/></port></service></definitions>
