jaxws/src/test/java/com/sun/ts/tests/jaxws/ee/w2j/document/literal/customization/external/WSW2JDLCustomizationExternalTestService.wsdl

<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions
  name="CustomizationExternalTestService"
  targetNamespace="http://customizationexternaltest.org/wsdl"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:types="http://customizationexternaltest.org/types"
  xmlns:tns="http://customizationexternaltest.org/wsdl">

  <types>
    <xsd:schema
        targetNamespace="http://customizationexternaltest.org/types"
        attributeFormDefault="qualified"
        elementFormDefault="qualified">

      <xsd:element name="HelloElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="HelloFaultMessage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fault1" type="xsd:string"/>
            <xsd:element name="fault2" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </types>

  <message name="HelloRequest">
    <part name="parameters" element="types:HelloElement"/>
  </message>

  <message name="HelloResponse">
    <part name="parameters" element="types:HelloElement"/>
  </message>

  <message name="HelloFaultMessage">
    <part name="helloFault" element="types:HelloFaultMessage"/>
  </message>

  <portType name="HelloWorld">
    
    <operation name="Hello"> 
      <input message="tns:HelloRequest"/>
      <output message="tns:HelloResponse"/>
      <fault name="HelloFault" message="tns:HelloFaultMessage"/>
    </operation>

  </portType>

  <binding name="HelloBinding" type="tns:HelloWorld">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <operation name="Hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="HelloFault">
        <soap:fault name="HelloFault" use="literal"/>
      </fault>
    </operation>

  </binding>

  <service name="myService">

    <port name="HelloPort" binding="tns:HelloBinding">
      <soap:address location="http://foo:9999/bar"/>
    </port>

  </service>

</definitions>
