webservices12/src/main/java/com/sun/ts/tests/webservices12/ejb/descriptors/WSEjbOverrideWSRefWithDDsTest/TxService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://Tx.org" xmlns:s="http://Tx.org/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="TxService" targetNamespace="http://Tx.org">
  <types/>
  <message name="Tx_txNever">
    <part name="request" type="xsd:string" />
  </message>
  <message name="Tx_txNeverResponse">
    <part name="response" type="xsd:string" />
  </message>
  <message name="Tx_txNotSupported">
    <part name="request" type="xsd:string" />
  </message>
  <message name="Tx_txNotSupportedResponse">
    <part name="response" type="xsd:string" />
  </message>
  <message name="Tx_txRequired">
    <part name="request" type="xsd:string" />
  </message>
  <message name="Tx_txRequiredResponse">
    <part name="response" type="xsd:string" />
  </message>
  <message name="Tx_txRequiresNew">
    <part name="request" type="xsd:string" />
  </message>
  <message name="Tx_txRequiresNewResponse">
    <part name="response" type="xsd:string" />
  </message>
  <message name="Tx_txSupports">
    <part name="request" type="xsd:string" />
  </message>
  <message name="Tx_txSupportsResponse">
    <part name="response" type="xsd:string" />
  </message>
  <portType name="Tx">
    <operation name="txNever">
      <input message="tns:Tx_txNever" />
      <output message="tns:Tx_txNeverResponse" />
    </operation>
    <operation name="txNotSupported">
      <input message="tns:Tx_txNotSupported" />
      <output message="tns:Tx_txNotSupportedResponse" />
    </operation>
    <operation name="txRequired">
      <input message="tns:Tx_txRequired" />
      <output message="tns:Tx_txRequiredResponse" />
    </operation>
    <operation name="txRequiresNew">
      <input message="tns:Tx_txRequiresNew" />
      <output message="tns:Tx_txRequiresNewResponse" />
    </operation>
    <operation name="txSupports">
      <input message="tns:Tx_txSupports" />
      <output message="tns:Tx_txSupportsResponse" />
    </operation>
  </portType>
  <binding name="TxBinding" type="tns:Tx">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="txNever">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://Tx.org" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://Tx.org" />
      </output>
    </operation>
    <operation name="txNotSupported">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://Tx.org" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://Tx.org" />
      </output>
    </operation>
    <operation name="txRequired">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://Tx.org" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://Tx.org" />
      </output>
    </operation>
    <operation name="txRequiresNew">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://Tx.org" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://Tx.org" />
      </output>
    </operation>
    <operation name="txSupports">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://Tx.org" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://Tx.org" />
      </output>
    </operation>
  </binding>
  <service name="TxService">
    <port name="TxPort" binding="tns:TxBinding">
      <soap:address location="http://foo:9999/bar" />
    </port>
  </service>
</definitions>

