jaxws/src/main/java/com/sun/ts/tests/jaxws/wsi/w2j/rpc/literal/R2114/W2JRLR2114TestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2003, 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions
          name="W2JRLR2114Test"
     targetNamespace="http://w2jrlr2114testservice.org/W2JRLR2114TestService.wsdl"
     xmlns:tns="http://w2jrlr2114testservice.org/W2JRLR2114TestService.wsdl"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:ns2="http://w2jrlr2114testservice.org/W2JRLR2114TestService.wsdl">

     <types>
        <schema targetNamespace="http://w2jrlr2114testservice.org/W2JRLR2114TestService.wsdl"
            xmlns="http://www.w3.org/2001/XMLSchema">
            <complexType name="IncludedStringRequest">
                <sequence>
                    <element name="stringValue" type="string" nillable="true"/>
                </sequence>
           </complexType>
        
           <complexType name="IncludedStringResponse">
               <sequence>
                   <element name="stringValue" type="string" nillable="true"/>
               </sequence>
           </complexType>
        </schema>
     </types>

    <message name="echoIncludedStringRequest">
        <part name="params" type="tns:IncludedStringRequest"/>
    </message>
    <message name="echoIncludedStringResponse">
        <part name="result" type="ns2:IncludedStringResponse"/>
    </message>

    <portType name="W2JRLR2114Test">
    	<operation name="echoIncludedStringTest">
            <input message="tns:echoIncludedStringRequest"/>
            <output message="tns:echoIncludedStringResponse"/>
    	</operation>
    </portType>
    
    <binding name="W2JRLR2114TestBinding" type="tns:W2JRLR2114Test">
    	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    	<operation name="echoIncludedStringTest">
    		<soap:operation/>
            <input>
                <soap:body use="literal" namespace="http://w2jrlr2114testservice.org/W2JRLR2114TestService.wsdl"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://w2jrlr2114testservice.org/W2JRLR2114TestService.wsdl"/>
            </output>
    	</operation>
    </binding>

    <service name="W2JRLR2114TestService">
        <port binding="tns:W2JRLR2114TestBinding" name="W2JRLR2114TestPort">
            <soap:address location="http://foo:9999/bar"/>
        </port>
    </service>
    
</definitions>
