jaxws/src/main/java/com/sun/ts/tests/jaxws/ee/w2j/rpc/literal/sec/secbasic/BasicAuthServiceTestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://BasicAuthServiceTestService.org/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="BasicAuthServiceTestService" targetNamespace="http://BasicAuthServiceTestService.org/wsdl">
  <types />
  <message name="HelloUnprotected_helloUnprotected">
    <part name="String_1" type="xsd:string" />
  </message>
  <message name="HelloUnprotected_helloUnprotectedResponse">
    <part name="result" type="xsd:string" />
  </message>
  <message name="HelloProtected_helloProtected">
    <part name="String_1" type="xsd:string" />
  </message>
  <message name="HelloProtected_helloProtectedResponse">
    <part name="result" type="xsd:string" />
  </message>
  <message name="HelloProtected_helloProtected1">
    <part name="String_1" type="xsd:string" />
  </message>
  <message name="HelloProtected_helloProtectedResponse1">
    <part name="result" type="xsd:string" />
  </message>
  <message name="HelloProtected_helloProtected2">
    <part name="String_1" type="xsd:string" />
  </message>
  <message name="HelloProtected_helloProtectedResponse2">
    <part name="result" type="xsd:string" />
  </message>
  <message name="HelloProtected_helloProtected3">
    <part name="String_1" type="xsd:string" />
  </message>
  <message name="HelloProtected_helloProtectedResponse3">
    <part name="result" type="xsd:string" />
  </message>
  <message name="HelloGuest_helloGuest">
    <part name="String_1" type="xsd:string" />
  </message>
  <message name="HelloGuest_helloGuestResponse">
    <part name="result" type="xsd:string" />
  </message>
  <portType name="HelloUnprotected">
    <operation name="helloUnprotected" parameterOrder="String_1">
      <input message="tns:HelloUnprotected_helloUnprotected" />
      <output message="tns:HelloUnprotected_helloUnprotectedResponse" />
    </operation>
  </portType>
  <portType name="HelloProtected">
    <operation name="helloProtected" parameterOrder="String_1">
      <input message="tns:HelloProtected_helloProtected" />
      <output message="tns:HelloProtected_helloProtectedResponse" />
    </operation>
  </portType>
  <portType name="HelloProtected1">
    <operation name="helloProtected1" parameterOrder="String_1">
      <input message="tns:HelloProtected_helloProtected1" />
      <output message="tns:HelloProtected_helloProtectedResponse1" />
    </operation>
  </portType>
  <portType name="HelloProtected2">
    <operation name="helloProtected2" parameterOrder="String_1">
      <input message="tns:HelloProtected_helloProtected2" />
      <output message="tns:HelloProtected_helloProtectedResponse2" />
    </operation>
  </portType>
  <portType name="HelloProtected3">
    <operation name="helloProtected3" parameterOrder="String_1">
      <input message="tns:HelloProtected_helloProtected3" />
      <output message="tns:HelloProtected_helloProtectedResponse3" />
    </operation>
  </portType>
  <portType name="HelloGuest">
    <operation name="helloGuest" parameterOrder="String_1">
      <input message="tns:HelloGuest_helloGuest" />
      <output message="tns:HelloGuest_helloGuestResponse" />
    </operation>
  </portType>
  <binding name="HelloUnprotectedBinding" type="tns:HelloUnprotected">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="helloUnprotected">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://BasicAuthServiceTestService.org/wsdl" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://BasicAuthServiceTestService.org/wsdl" />
      </output>
    </operation>
  </binding>
  <binding name="HelloProtectedBinding" type="tns:HelloProtected">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="helloProtected">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://BasicAuthServiceTestService.org/wsdl" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://BasicAuthServiceTestService.org/wsdl" />
      </output>
    </operation>
  </binding>
  <binding name="HelloProtectedBinding1" type="tns:HelloProtected1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="helloProtected1">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://BasicAuthServiceTestService.org/wsdl" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://BasicAuthServiceTestService.org/wsdl" />
      </output>
    </operation>
  </binding>
  <binding name="HelloProtectedBinding2" type="tns:HelloProtected2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="helloProtected2">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://BasicAuthServiceTestService.org/wsdl" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://BasicAuthServiceTestService.org/wsdl" />
      </output>
    </operation>
  </binding>
  <binding name="HelloProtectedBinding3" type="tns:HelloProtected3">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="helloProtected3">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://BasicAuthServiceTestService.org/wsdl" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://BasicAuthServiceTestService.org/wsdl" />
      </output>
    </operation>
  </binding>
  <binding name="HelloGuestBinding" type="tns:HelloGuest">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="helloGuest">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://BasicAuthServiceTestService.org/wsdl" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://BasicAuthServiceTestService.org/wsdl" />
      </output>
    </operation>
  </binding>
  <service name="BasicAuthServiceTestService">
    <port name="HelloUnprotectedPort" binding="tns:HelloUnprotectedBinding">
      <soap:address location="http://localhost:8080/W2JBAT/jaxws1/HelloUnprotectedPort" />
    </port>
    <port name="HelloProtectedPort" binding="tns:HelloProtectedBinding">
      <soap:address location="http://localhost:8080/W2JBAT/jaxws2/HelloProtectedPort" />
    </port>
    <port name="HelloGuestPort" binding="tns:HelloGuestBinding">
      <soap:address location="http://localhost:8080/W2JBAT/jaxws3/HelloGuestPort" />
    </port>
    <port name="HelloProtectedPort1" binding="tns:HelloProtectedBinding1">
      <soap:address location="http://localhost:8080/W2JBAT/jaxws2/HelloProtectedPort1" />
    </port>
    <port name="HelloProtectedPort2" binding="tns:HelloProtectedBinding2">
      <soap:address location="http://localhost:8080/W2JBAT/jaxws2/HelloProtectedPort2" />
    </port>
    <port name="HelloProtectedPort3" binding="tns:HelloProtectedBinding3">
      <soap:address location="http://localhost:8080/W2JBAT/jaxws2/HelloProtectedPort3" />
    </port>
  </service>
</definitions>

