jaxws/src/test/java/com/sun/ts/tests/jaxws/sharedwebservices/hellosecureservice/WSHelloSecureService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions name="HelloService" targetNamespace="http://helloservice.org/wsdl" xmlns:tns="http://helloservice.org/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types/>
  <message name="Hello_hello">
    <part name="String_1" type="xsd:string"/></message>
  <message name="Hello_helloResponse">
    <part name="result" type="xsd:string"/></message>
  <message name="getMessageContextTest"/>
  <message name="getMessageContextTestResponse">
    <part name="result" type="xsd:boolean"/></message>
  <message name="getEndpointReferenceTest"/>
  <message name="getEndpointReferenceTestResponse">
    <part name="result" type="xsd:boolean"/></message>
  <message name="getEndpointReference2Test"/>
  <message name="getEndpointReference2TestResponse">
    <part name="result" type="xsd:boolean"/></message>
  <message name="getUserPrincipalTest"/>
  <message name="getUserPrincipalTestResponse">
    <part name="result" type="xsd:boolean"/></message>
  <message name="isUserInRoleTest">
    <part name="String_1" type="xsd:string"/></message>
  <message name="isUserInRoleTestResponse">
    <part name="result" type="xsd:boolean"/></message>
  <portType name="Hello">
    <operation name="hello" parameterOrder="String_1">
      <input message="tns:Hello_hello"/>
      <output message="tns:Hello_helloResponse"/></operation>
    <operation name="getMessageContextTest" >
      <input message="tns:getMessageContextTest"/>
      <output message="tns:getMessageContextTestResponse"/></operation>
    <operation name="getEndpointReferenceTest" >
      <input message="tns:getEndpointReferenceTest"/>
      <output message="tns:getEndpointReferenceTestResponse"/></operation>
    <operation name="getEndpointReference2Test" >
      <input message="tns:getEndpointReference2Test"/>
      <output message="tns:getEndpointReference2TestResponse"/></operation>
    <operation name="getUserPrincipalTest" >
      <input message="tns:getUserPrincipalTest"/>
      <output message="tns:getUserPrincipalTestResponse"/></operation>
    <operation name="isUserInRoleTest" parameterOrder="String_1">
      <input message="tns:isUserInRoleTest"/>
      <output message="tns:isUserInRoleTestResponse"/></operation>
  </portType>
  <binding name="HelloBinding" type="tns:Hello">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://helloservice.org/wsdl"/></input>
      <output>
        <soap:body use="literal" namespace="http://helloservice.org/wsdl"/></output></operation>
    <operation name="getMessageContextTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://helloservice.org/wsdl"/></input>
      <output>
      <soap:body use="literal" namespace="http://helloservice.org/wsdl"/></output></operation>
    <operation name="getEndpointReferenceTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://helloservice.org/wsdl"/></input>
      <output>
        <soap:body use="literal" namespace="http://helloservice.org/wsdl"/></output></operation>
    <operation name="getEndpointReference2Test">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://helloservice.org/wsdl"/></input>
      <output>
        <soap:body use="literal" namespace="http://helloservice.org/wsdl"/></output></operation>
    <operation name="getUserPrincipalTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://helloservice.org/wsdl"/></input>
      <output>
        <soap:body use="literal" namespace="http://helloservice.org/wsdl"/></output></operation>
    <operation name="isUserInRoleTest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://helloservice.org/wsdl"/></input>
      <output>
        <soap:body use="literal" namespace="http://helloservice.org/wsdl"/></output></operation>
  </binding>
  <service name="HelloService">
    <port name="HelloPort" binding="tns:HelloBinding">
      <soap:address location="http://foo:9999/bar"/></port></service></definitions>
