src/com/sun/ts/tests/jaxrpc/wsi/w2j/rpc/literal/R2747/W2JRLR2747TestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2003, 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="W2JRLR2747TestService"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="http://w2jrlr2747testservice.org/W2JRLR2747TestService.wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://w2jrlr2747testservice.org/W2JRLR2747TestService.wsdl"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd1="http://w2jrlr2747testservice.org/xsd">

    <types>
        <schema targetNamespace="http://w2jrlr2747testservice.org/xsd"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
            elementFormDefault="qualified">

    		<complexType name="NonNullString">
        		<sequence>
                	<element name="p1" type="xsd:string" nillable="false"/>
        		</sequence>
		    </complexType>
            
        </schema>
    </types>
    
    <message name="echoString">
        <part type="xsd1:NonNullString" name="str"/>
    </message>
    <message name="echoStringResponse">
        <part type="xsd1:NonNullString" name="result"/>
    </message>
        
    <portType name="W2JRLR2747TestOne">
    	<operation name="echoString">
            <input message="tns:echoString"/>
            <output message="tns:echoStringResponse"/>
    	</operation>
    </portType>
    
    <portType name="W2JRLR2747TestTwo">
    	<operation name="echoString">
            <input message="tns:echoString"/>
            <output message="tns:echoStringResponse"/>
    	</operation>
    </portType>
    
    <binding name="W2JRLR2747TestOneBinding" type="tns:W2JRLR2747TestOne">
    	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    	<operation name="echoString">
    		<soap:operation/>
            <input>
                <soap:body use="literal" namespace="http://w2jrlr2747testservice.org/W2JRLR2747TestService.wsdl"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://w2jrlr2747testservice.org/W2JRLR2747TestService.wsdl"/>
            </output>
    	</operation>
    </binding>

    <binding name="W2JRLR2747TestTwoBinding" type="tns:W2JRLR2747TestTwo">
    	<soap:binding wsdl:required="1" style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    	<operation name="echoString">
    		<soap:operation wsdl:required="1"/>
            <input>
                <soap:body wsdl:required="1" use="literal" namespace="http://w2jrlr2747testservice.org/W2JRLR2747TestService.wsdl"/>
            </input>
            <output>
                <soap:body wsdl:required="1" use="literal" namespace="http://w2jrlr2747testservice.org/W2JRLR2747TestService.wsdl"/>
            </output>
    	</operation>
    </binding>

    <service name="W2JRLR2747TestService">
        <port binding="tns:W2JRLR2747TestOneBinding"
            name="W2JRLR2747TestOnePort">
            <soap:address
                location="http://localhost:8000/W2JRLR2747TestService/ws4ee_1/W2JRLR2747Test/one"/>
        </port>
        <port binding="tns:W2JRLR2747TestTwoBinding"
            name="W2JRLR2747TestTwoPort">
            <soap:address wsdl:required="1"
                location="http://localhost:8000/W2JRLR2747TestService/ws4ee_1/W2JRLR2747Test/two"/>
        </port>
    </service>
    
</definitions>
