jaxws/src/main/java/com/sun/ts/tests/jaxws/mapping/w2jmapping/document/literal/eprsubtypes/W2JDLEPRSubTypes.wsdl

<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions
        name="HelloTest"
        targetNamespace="urn:test"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:types="urn:test:types"
        xmlns:itypes="urn:test:importedtypes"
        xmlns:ws="http://www.w3.org/2005/08/addressing"
        xmlns:tns="urn:test">

    <types>
        <xsd:schema
                targetNamespace="urn:test:types"
                attributeFormDefault="unqualified"
                elementFormDefault="unqualified">

            <xsd:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="http://www.w3.org/2006/03/addressing/ws-addr.xsd"/>
            <xsd:import namespace="urn:test:importedtypes" schemaLocation="W2JDLEPRSubTypes.xsd"/>

            <xsd:element name="hello" type="types:ReqType" />
            <xsd:element name="helloResponse" type="itypes:ImportedResType" />

            <xsd:element name="hello2" type="types:ReqType" />
            <xsd:element name="hello2Response" type="types:ReqType" />

            <xsd:element name="hello3" type="types:SubType" />
            <xsd:element name="hello3Response" type="ws:EndpointReferenceType" />

            <xsd:complexType name="ReqType">
                <xsd:sequence>
                    <xsd:element name="epr" type="ws:EndpointReferenceType"/>
                    <xsd:element name="subepr" type="types:SubType"/>
                    <xsd:element name="subsubepr" type="types:SubSubType"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="SubType">
                 <xsd:complexContent>
                      <xsd:extension base="ws:EndpointReferenceType">
                           <xsd:attribute name="updateType" type="xsd:anyURI" use="optional"/>
                      </xsd:extension>
                 </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="SubSubType">
                 <xsd:complexContent>
                      <xsd:extension base="types:SubType">
                           <xsd:attribute name="updateSubType" type="xsd:anyURI" use="optional"/>
                      </xsd:extension>
                 </xsd:complexContent>
            </xsd:complexType>

        </xsd:schema>
    </types>

    <message name="HelloRequest">
        <part name="parameters" element="types:hello"/>
    </message>

    <message name="HelloResponse">
        <part name="parameters" element="types:helloResponse"/>
    </message>

    <message name="Hello2Request">
        <part name="parameters" element="types:hello2"/>
    </message>

    <message name="Hello2Response">
        <part name="parameters" element="types:hello2Response"/>
    </message>

    <message name="Hello3Request">
        <part name="parameters" element="types:hello3"/>
    </message>

    <message name="Hello3Response">
        <part name="parameters" element="types:hello3Response"/>
    </message>

    <portType name="Hello">
        <operation name="hello">
            <input message="tns:HelloRequest"/>
            <output message="tns:HelloResponse"/>
        </operation>
        <operation name="hello2">
            <input message="tns:Hello2Request"/>
            <output message="tns:Hello2Response"/>
        </operation>
        <operation name="hello3">
            <input message="tns:Hello3Request"/>
            <output message="tns:Hello3Response"/>
        </operation>
    </portType>

    <binding name="HelloBinding" type="tns:Hello">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="hello">
            <soap:operation soapAction="urn:test:hello"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>      
        <operation name="hello2">
            <soap:operation soapAction="urn:test:hello2"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>      
        <operation name="hello3">
            <soap:operation soapAction="urn:test:hello3"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>      
    </binding>

    <service name="HelloService">
        <port name="HelloPort" binding="tns:HelloBinding">
            <soap:address location="http://test.org/hello"/>
        </port>
    </service>

</definitions>
