jaxws/src/main/java/com/sun/ts/tests/jaxws/wsi/w2j/rpc/literal/R2706/W2JRLR2706TestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2003, 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions
    targetNamespace="http://w2jrlr2706testservice.org/wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="W2JRLR2706TestService"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://w2jrlr2706testservice.org/wsdl"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd1="http://w2jrlr2706testservice.org/xsd">

	<documentation>
		Documentation.
	</documentation>
	
    <types>
        <schema targetNamespace="http://w2jrlr2706testservice.org/xsd"
            xmlns:tns="http://w2jrlr2706testservice.org/xsd"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
            elementFormDefault="qualified">

            <element name="ServiceFaultReason" type="xsd:string"/>

            <element name="MyHeader1" type="tns:MyHeader"/>
            <complexType name="MyHeader">
                <sequence>
                    <annotation>
                        <documentation>
                            This is the header
                  </documentation>
                    </annotation>
                    <element name="message" type="string"/>
                </sequence>
            </complexType>


            <element name="HeaderFaultReason" type="tns:HeaderFaultReason"/>
            <complexType name="HeaderFaultReason">
                <sequence>
                    <annotation>
                        <documentation>
                    		This is the fault
        	 	</documentation>
                    </annotation>
                    <element name="message" type="xsd:string"/>
                </sequence>
            </complexType>
            
        </schema>
    </types>
    
    <message name="echoString">
        <part name="str" type="xsd:string" />
        <part name="Header1" element="xsd1:MyHeader1" />
    </message>
    <message name="echoStringResponse">
        <part type="xsd:string" name="result"/>
    </message>
    <message name="ServiceFault">
        <part element="xsd1:ServiceFaultReason" name="reason"/>
    </message>
    <message name="HeaderFault">
        <part element="xsd1:HeaderFaultReason" name="reason"/>
    </message>
       
    <portType name="W2JRLR2706Test">
    	<operation name="echoString">
            <input message="tns:echoString"/>
            <output message="tns:echoStringResponse"/>
            <fault name="ServiceFault" message="tns:ServiceFault"/>
            <fault name="HeaderFault" message="tns:HeaderFault"/>
    	</operation>
    </portType>
    
    <binding name="W2JRLR2706TestBinding" type="tns:W2JRLR2706Test">
    	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    	<operation name="echoString">
    		<soap:operation/>
          <input>
              <soap:body parts="str" use="literal" namespace="http://w2jrlr2706testservice.org/wsdl"/>
              <soap:header message="tns:echoString" part="Header1" use="literal">
		      <soap:headerfault use="literal" message="tns:HeaderFault" part="reason"/>
              </soap:header>
          </input>
          <output>
              <soap:body use="literal" namespace="http://w2jrlr2706testservice.org/wsdl"/>
          </output>
          <fault name="ServiceFault">
              <soap:fault use="literal" name="ServiceFault"/>
          </fault>
    	</operation>
    </binding>

    <service name="W2JRLR2706TestService">
        <port binding="tns:W2JRLR2706TestBinding" name="W2JRLR2706TestPort">
            <soap:address location="http://foo:9999/bar"/>
        </port>
    </service>
    
</definitions>
