jaxws/src/main/java/com/sun/ts/tests/jaxws/mapping/w2jmapping/document/literal/annotations/AddressingAnnotations.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions name="AddressAnnotations"
    targetNamespace="http://addressingannotations.org/wsdl"
    xmlns:tns="http://addressingannotations.org/wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:types="http://addressingannotations.org/types"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">

  <wsp:Policy wsu:Id="AddressingEndpointPortBinding_WSAM_Addressing_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsam:Addressing>
          <wsp:Policy>
            <wsp:ExactlyOne>
              <wsp:All/>
            </wsp:ExactlyOne>
          </wsp:Policy>
        </wsam:Addressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>

  <types>
    <xsd:schema targetNamespace="http://addressingannotations.org/types" attributeFormDefault="qualified" elementFormDefault="qualified">
      <xsd:element name="MyFault3a">
           <xsd:complexType>
             <xsd:sequence>
               <xsd:element name="message" type="xsd:string"/>
             </xsd:sequence>
           </xsd:complexType>
      </xsd:element>
      <xsd:element name="MyFault3b">
           <xsd:complexType>
             <xsd:sequence>
               <xsd:element name="message" type="xsd:string"/>
             </xsd:sequence>
           </xsd:complexType>
      </xsd:element>

      <xsd:element name="MyFault4">
           <xsd:complexType>
             <xsd:sequence>
               <xsd:element name="message" type="xsd:string"/>
             </xsd:sequence>
           </xsd:complexType>
      </xsd:element>
      <xsd:element name="MyFault5">
           <xsd:complexType>
             <xsd:sequence>
               <xsd:element name="message" type="xsd:string"/>
             </xsd:sequence>
           </xsd:complexType>
      </xsd:element>

      <xsd:element name="AddressElement1">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddressElement2">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddressElement3">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddressElement4">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddressElement5">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddressElement6">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddressElement7">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddressElement8">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddressElement9">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddressElement10">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddressElement11">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <message name="address1Request">
    <part name="request" element="types:AddressElement1"/>
  </message>

  <message name="address2Request"/>
  <message name="address2Response">
    <part name="response" element="types:AddressElement2"/>
  </message>

  <message name="address3Request">
    <part name="request" element="types:AddressElement3"/>
  </message>
  <message name="address3Response">
    <part name="response" element="types:AddressElement3"/>
  </message>
  <message name="myfault3aException">
    <part name="MyFault3a" element="types:MyFault3a"/>
  </message>
  <message name="myfault3bException">
    <part name="MyFault3b" element="types:MyFault3b"/>
  </message>

  <message name="address4Request"/>
  <message name="address4Response">
    <part name="response" element="types:AddressElement4"/>
  </message>
  <message name="myfault4Exception">
    <part name="MyFault4" element="types:MyFault4"/>
  </message>

  <message name="address5Request">
    <part name="request" element="types:AddressElement5"/>
  </message>
  <message name="address5Response">
    <part name="response" element="types:AddressElement5"/>
  </message>
  <message name="myfault5Exception">
    <part name="MyFault5" element="types:MyFault5"/>
  </message>

  <message name="address6Request">
    <part name="request" element="types:AddressElement6"/>
  </message>
  <message name="address7Request"/>
  <message name="address7Response">
    <part name="response" element="types:AddressElement7"/>
  </message>

  <message name="address8Request">
    <part name="request" element="types:AddressElement8"/>
  </message>
  <message name="address9Request"/>
  <message name="address9Response">
    <part name="response" element="types:AddressElement9"/>
  </message>

  <message name="address10Request">
    <part name="request" element="types:AddressElement10"/>
  </message>
  <message name="address11Request"/>
  <message name="address11Response">
    <part name="response" element="types:AddressElement11"/>
  </message>

  <portType name="AddressAnnotationsEndpoint1">
    <!-- in action-->
    <operation name="address1"> 
      <input message="tns:address1Request" wsam:Action="input1"/>
    </operation>
    <!-- out action -->
    <operation name="address2"> 
      <input message="tns:address2Request" />
      <output message="tns:address2Response" wsam:Action="output2"/>
    </operation>
    <!-- fault action -->
    <operation name="address3"> 
      <input message="tns:address3Request"/>
      <output message="tns:address3Response" />
      <fault name="MyFault3a" message="tns:myfault3aException" wsam:Action="fault3a"/>
      <fault name="MyFault3b" message="tns:myfault3bException" wsam:Action="fault3b"/>
    </operation>
  </portType>

  <portType name="AddressAnnotationsEndpoint2">
    <!-- out/fault action -->
    <operation name="address4"> 
      <input message="tns:address4Request" />
      <output message="tns:address4Response" wsam:Action="output4"/>
      <fault name="MyFault4" message="tns:myfault4Exception" wsam:Action="fault4"/>
    </operation>

    <!-- in/out/fault action -->
    <operation name="address5"> 
      <input message="tns:address5Request" wsam:Action="input5"/>
      <output message="tns:address5Response" wsam:Action="output5"/>
      <fault name="MyFault5" message="tns:myfault5Exception" wsam:Action="fault5"/>
    </operation>
  </portType>

  <portType name="AddressAnnotationsEndpoint3">
    <operation name="address6"> 
      <input message="tns:address6Request" wsam:Action=""/>
    </operation>

    <operation name="address7"> 
      <input message="tns:address7Request" />
      <output message="tns:address7Response" wsam:Action=""/>
    </operation>
  </portType>

  <portType name="AddressAnnotationsEndpoint4">
    <operation name="address8"> 
      <input message="tns:address8Request" wsam:Action="input8"/>
    </operation>

    <operation name="address9"> 
      <input message="tns:address9Request" />
      <output message="tns:address9Response" wsam:Action="output9"/>
    </operation>
  </portType>

  <portType name="AddressAnnotationsEndpoint5">
    <operation name="address10"> 
      <input message="tns:address10Request" wsam:Action="input10"/>
    </operation>

    <operation name="address11"> 
      <input message="tns:address11Request" />
      <output message="tns:address11Response" wsam:Action="output11"/>
    </operation>
  </portType>

  <binding name="AddressAnnotationsEndpointBinding1" type="tns:AddressAnnotationsEndpoint1">
    <wsp:Policy>
      <wsam:Addressing>
        <wsp:Policy/>
      </wsam:Addressing>
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="address1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="address2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="address3">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MyFault3a">
        <soap:fault name="MyFault3a" use="literal"/>
      </fault>
      <fault name="MyFault3b">
        <soap:fault name="MyFault3b" use="literal"/>
      </fault>
    </operation>
  </binding>

  <binding name="AddressAnnotationsEndpointBinding2" type="tns:AddressAnnotationsEndpoint2">
    <wsp:Policy>
      <wsam:Addressing wsp:Optional="true">
        <wsp:Policy/>
      </wsam:Addressing>
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="address4">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MyFault4">
        <soap:fault name="MyFault4" use="literal"/>
      </fault>
    </operation>
    <operation name="address5">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MyFault5">
        <soap:fault name="MyFault5" use="literal"/>
      </fault>
    </operation>
  </binding>

  <binding name="AddressAnnotationsEndpointBinding3" type="tns:AddressAnnotationsEndpoint3">
    <wsp:PolicyReference URI="#AddressingEndpointPortBinding_WSAM_Addressing_Policy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="address6">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="address7">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <binding name="AddressAnnotationsEndpointBinding4" type="tns:AddressAnnotationsEndpoint4">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="address8">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="address9">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <binding name="AddressAnnotationsEndpointBinding5" type="tns:AddressAnnotationsEndpoint5">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="address10">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="address11">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="AddressAnnotationsService">
    <port name="AddressAnnotationsEndpointPort1" binding="tns:AddressAnnotationsEndpointBinding1">
      <soap:address location="http://foo:9999/bar"/>
    </port>
    <port name="AddressAnnotationsEndpointPort2" binding="tns:AddressAnnotationsEndpointBinding2">
      <soap:address location="http://foo:9999/bar"/>
    </port>
    <port name="AddressAnnotationsEndpointPort3" binding="tns:AddressAnnotationsEndpointBinding3">
      <soap:address location="http://foo:9999/bar"/>
    </port>
    <port name="AddressAnnotationsEndpointPort4" binding="tns:AddressAnnotationsEndpointBinding4">
      <wsp:PolicyReference URI="#AddressingEndpointPortBinding_WSAM_Addressing_Policy"/>
      <soap:address location="http://foo:9999/bar"/>
    </port>
    <port name="AddressAnnotationsEndpointPort5" binding="tns:AddressAnnotationsEndpointBinding5">
      <wsp:Policy>
        <wsam:Addressing>
          <wsp:Policy/>
        </wsam:Addressing>
      </wsp:Policy>
      <soap:address location="http://foo:9999/bar"/>
    </port>
  </service>
</definitions>
