jaxws/src/main/java/com/sun/ts/tests/jaxws/ee/w2j/document/literal/wrapperstyle/marshalltest/WSW2JDLWMarshallTestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://MarshallTest.org/" xmlns:s="http://MarshallTest.org/xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="MarshallTestService" targetNamespace="http://MarshallTest.org/">
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://MarshallTest.org/xsd"
	elementFormDefault="qualified">
      <element name="echoString">
        <complexType>
          <sequence>
            <element name="request" type="xsd:string" nillable="true" />
          </sequence>
        </complexType>
      </element>
      <element name="echoStringResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:string" nillable="true" />
          </sequence>
        </complexType>
      </element>
      <element name="echoInteger">
        <complexType>
          <sequence>
            <element name="request" type="xsd:integer" nillable="true" />
          </sequence>
        </complexType>
      </element>
      <element name="echoIntegerResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:integer" nillable="true" />
          </sequence>
        </complexType>
      </element>
      <element name="echoInt">
        <complexType>
          <sequence>
            <element name="request" type="xsd:int" />
          </sequence>
        </complexType>
      </element>
      <element name="echoIntResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:int" />
          </sequence>
        </complexType>
      </element>
      <element name="echoLong">
        <complexType>
          <sequence>
            <element name="request" type="xsd:long" />
          </sequence>
        </complexType>
      </element>
      <element name="echoLongResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:long" />
          </sequence>
        </complexType>
      </element>
      <element name="echoShort">
        <complexType>
          <sequence>
            <element name="request" type="xsd:short" />
          </sequence>
        </complexType>
      </element>
      <element name="echoShortResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:short" />
          </sequence>
        </complexType>
      </element>
      <element name="echoDecimal">
        <complexType>
          <sequence>
            <element name="request" type="xsd:decimal" nillable="true" />
          </sequence>
        </complexType>
      </element>
      <element name="echoDecimalResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:decimal" nillable="true" />
          </sequence>
        </complexType>
      </element>
      <element name="echoFloat">
        <complexType>
          <sequence>
            <element name="request" type="xsd:float" />
          </sequence>
        </complexType>
      </element>
      <element name="echoFloatResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:float" />
          </sequence>
        </complexType>
      </element>
      <element name="echoDouble">
        <complexType>
          <sequence>
            <element name="request" type="xsd:double" />
          </sequence>
        </complexType>
      </element>
      <element name="echoDoubleResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:double" />
          </sequence>
        </complexType>
      </element>
      <element name="echoBoolean">
        <complexType>
          <sequence>
            <element name="request" type="xsd:boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="echoBooleanResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="echoByte">
        <complexType>
          <sequence>
            <element name="request" type="xsd:byte" />
          </sequence>
        </complexType>
      </element>
      <element name="echoByteResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:byte" />
          </sequence>
        </complexType>
      </element>
      <element name="echoQName">
        <complexType>
          <sequence>
            <element name="request" type="xsd:QName" nillable="true" />
          </sequence>
        </complexType>
      </element>
      <element name="echoQNameResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:QName" nillable="true" />
          </sequence>
        </complexType>
      </element>
      <element name="echoDateTime">
        <complexType>
          <sequence>
            <element name="request" type="xsd:dateTime" nillable="true" />
          </sequence>
        </complexType>
      </element>
      <element name="echoDateTimeResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:dateTime" nillable="true" />
          </sequence>
        </complexType>
      </element>
      <element name="echoBase64Binary">
        <complexType>
          <sequence>
            <element name="request" type="xsd:base64Binary" />
          </sequence>
        </complexType>
      </element>
      <element name="echoBase64BinaryResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:base64Binary" />
          </sequence>
        </complexType>
      </element>
      <element name="echoHexBinary">
        <complexType>
          <sequence>
            <element name="request" type="xsd:hexBinary" />
          </sequence>
        </complexType>
      </element>
      <element name="echoHexBinaryResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:hexBinary" />
          </sequence>
        </complexType>
      </element>
      <!-- ########################################## -->
      <!-- These complex types are Array elements     -->
      <!-- ########################################## -->
      <element name="echoStringArray">
        <complexType>
          <sequence>
            <element name="request" type="xsd:string" maxOccurs="unbounded" nillable="true" />
          </sequence>
        </complexType>
      </element>
      <element name="echoStringArrayResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:string" maxOccurs="unbounded" nillable="true" />
          </sequence>
        </complexType>
      </element>
      <element name="echoIntegerArray">
        <complexType>
          <sequence>
            <element name="request" type="xsd:integer" maxOccurs="unbounded" nillable="true" />
          </sequence>
        </complexType>
      </element>
      <element name="echoIntegerArrayResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:integer" maxOccurs="unbounded" nillable="true" />
          </sequence>
        </complexType>
      </element>
      <element name="echoIntArray">
        <complexType>
          <sequence>
            <element name="request" type="xsd:int" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="echoIntArrayResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:int" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="echoLongArray">
        <complexType>
          <sequence>
            <element name="request" type="xsd:long" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="echoLongArrayResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:long" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="echoShortArray">
        <complexType>
          <sequence>
            <element name="request" type="xsd:short" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="echoShortArrayResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:short" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="echoDecimalArray">
        <complexType>
          <sequence>
            <element name="request" type="xsd:decimal" maxOccurs="unbounded" nillable="true" />
          </sequence>
        </complexType>
      </element>
      <element name="echoDecimalArrayResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:decimal" maxOccurs="unbounded" nillable="true" />
          </sequence>
        </complexType>
      </element>
      <element name="echoFloatArray">
        <complexType>
          <sequence>
            <element name="request" type="xsd:float" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="echoFloatArrayResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:float" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="echoDoubleArray">
        <complexType>
          <sequence>
            <element name="request" type="xsd:double" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="echoDoubleArrayResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:double" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="echoBooleanArray">
        <complexType>
          <sequence>
            <element name="request" type="xsd:boolean" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="echoBooleanArrayResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:boolean" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="echoByteArray">
        <complexType>
          <sequence>
            <element name="request" type="xsd:byte" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="echoByteArrayResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:byte" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="echoQNameArray">
        <complexType>
          <sequence>
            <element name="request" type="xsd:QName" maxOccurs="unbounded" nillable="true" />
          </sequence>
        </complexType>
      </element>
      <element name="echoQNameArrayResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:QName" maxOccurs="unbounded" nillable="true" />
          </sequence>
        </complexType>
      </element>
      <element name="echoDateTimeArray">
        <complexType>
          <sequence>
            <element name="request" type="xsd:dateTime" maxOccurs="unbounded" nillable="true" />
          </sequence>
        </complexType>
      </element>
      <element name="echoDateTimeArrayResponse">
        <complexType>
          <sequence>
            <element name="response" type="xsd:dateTime" maxOccurs="unbounded" nillable="true" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="echoString">
    <part name="body" element="s:echoString" />
  </message>
  <message name="echoStringResponse">
    <part name="return" element="s:echoStringResponse" />
  </message>
  <message name="echoInteger">
    <part name="body" element="s:echoInteger" />
  </message>
  <message name="echoIntegerResponse">
    <part name="return" element="s:echoIntegerResponse" />
  </message>
  <message name="echoInt">
    <part name="body" element="s:echoInt" />
  </message>
  <message name="echoIntResponse">
    <part name="return" element="s:echoIntResponse" />
  </message>
  <message name="echoLong">
    <part name="body" element="s:echoLong" />
  </message>
  <message name="echoLongResponse">
    <part name="return" element="s:echoLongResponse" />
  </message>
  <message name="echoShort">
    <part name="body" element="s:echoShort" />
  </message>
  <message name="echoShortResponse">
    <part name="return" element="s:echoShortResponse" />
  </message>
  <message name="echoDecimal">
    <part name="body" element="s:echoDecimal" />
  </message>
  <message name="echoDecimalResponse">
    <part name="return" element="s:echoDecimalResponse" />
  </message>
  <message name="echoFloat">
    <part name="body" element="s:echoFloat" />
  </message>
  <message name="echoFloatResponse">
    <part name="return" element="s:echoFloatResponse" />
  </message>
  <message name="echoDouble">
    <part name="body" element="s:echoDouble" />
  </message>
  <message name="echoDoubleResponse">
    <part name="return" element="s:echoDoubleResponse" />
  </message>
  <message name="echoBoolean">
    <part name="body" element="s:echoBoolean" />
  </message>
  <message name="echoBooleanResponse">
    <part name="return" element="s:echoBooleanResponse" />
  </message>
  <message name="echoByte">
    <part name="body" element="s:echoByte" />
  </message>
  <message name="echoByteResponse">
    <part name="return" element="s:echoByteResponse" />
  </message>
  <message name="echoQName">
    <part name="body" element="s:echoQName" />
  </message>
  <message name="echoQNameResponse">
    <part name="return" element="s:echoQNameResponse" />
  </message>
  <message name="echoDateTime">
    <part name="body" element="s:echoDateTime" />
  </message>
  <message name="echoDateTimeResponse">
    <part name="return" element="s:echoDateTimeResponse" />
  </message>
  <message name="echoBase64Binary">
    <part name="body" element="s:echoBase64Binary" />
  </message>
  <message name="echoBase64BinaryResponse">
    <part name="return" element="s:echoBase64BinaryResponse" />
  </message>
  <message name="echoHexBinary">
    <part name="body" element="s:echoHexBinary" />
  </message>
  <message name="echoHexBinaryResponse">
    <part name="return" element="s:echoHexBinaryResponse" />
  </message>
  <!-- ############################################################## -->
  <!-- These are used in conjuction with the complex types that are   -->
  <!-- array elements                                                 -->
  <!-- ############################################################## -->
  <message name="echoStringArray">
    <part name="body" element="s:echoStringArray" />
  </message>
  <message name="echoStringArrayResponse">
    <part name="return" element="s:echoStringArrayResponse" />
  </message>
  <message name="echoIntegerArray">
    <part name="body" element="s:echoIntegerArray" />
  </message>
  <message name="echoIntegerArrayResponse">
    <part name="return" element="s:echoIntegerArrayResponse" />
  </message>
  <message name="echoIntArray">
    <part name="body" element="s:echoIntArray" />
  </message>
  <message name="echoIntArrayResponse">
    <part name="return" element="s:echoIntArrayResponse" />
  </message>
  <message name="echoLongArray">
    <part name="body" element="s:echoLongArray" />
  </message>
  <message name="echoLongArrayResponse">
    <part name="return" element="s:echoLongArrayResponse" />
  </message>
  <message name="echoShortArray">
    <part name="body" element="s:echoShortArray" />
  </message>
  <message name="echoShortArrayResponse">
    <part name="return" element="s:echoShortArrayResponse" />
  </message>
  <message name="echoDecimalArray">
    <part name="body" element="s:echoDecimalArray" />
  </message>
  <message name="echoDecimalArrayResponse">
    <part name="return" element="s:echoDecimalArrayResponse" />
  </message>
  <message name="echoFloatArray">
    <part name="body" element="s:echoFloatArray" />
  </message>
  <message name="echoFloatArrayResponse">
    <part name="return" element="s:echoFloatArrayResponse" />
  </message>
  <message name="echoDoubleArray">
    <part name="body" element="s:echoDoubleArray" />
  </message>
  <message name="echoDoubleArrayResponse">
    <part name="return" element="s:echoDoubleArrayResponse" />
  </message>
  <message name="echoBooleanArray">
    <part name="body" element="s:echoBooleanArray" />
  </message>
  <message name="echoBooleanArrayResponse">
    <part name="return" element="s:echoBooleanArrayResponse" />
  </message>
  <message name="echoByteArray">
    <part name="body" element="s:echoByteArray" />
  </message>
  <message name="echoByteArrayResponse">
    <part name="return" element="s:echoByteArrayResponse" />
  </message>
  <message name="echoQNameArray">
    <part name="body" element="s:echoQNameArray" />
  </message>
  <message name="echoQNameArrayResponse">
    <part name="return" element="s:echoQNameArrayResponse" />
  </message>
  <message name="echoDateTimeArray">
    <part name="body" element="s:echoDateTimeArray" />
  </message>
  <message name="echoDateTimeArrayResponse">
    <part name="return" element="s:echoDateTimeArrayResponse" />
  </message>
  <portType name="MarshallTest">
    <operation name="echoString" parameterOrder="body">
      <input message="tns:echoString" />
      <output message="tns:echoStringResponse" />
    </operation>
    <operation name="echoInteger" parameterOrder="body">
      <input message="tns:echoInteger" />
      <output message="tns:echoIntegerResponse" />
    </operation>
    <operation name="echoInt" parameterOrder="body">
      <input message="tns:echoInt" />
      <output message="tns:echoIntResponse" />
    </operation>
    <operation name="echoLong" parameterOrder="body">
      <input message="tns:echoLong" />
      <output message="tns:echoLongResponse" />
    </operation>
    <operation name="echoShort" parameterOrder="body">
      <input message="tns:echoShort" />
      <output message="tns:echoShortResponse" />
    </operation>
    <operation name="echoDecimal" parameterOrder="body">
      <input message="tns:echoDecimal" />
      <output message="tns:echoDecimalResponse" />
    </operation>
    <operation name="echoFloat" parameterOrder="body">
      <input message="tns:echoFloat" />
      <output message="tns:echoFloatResponse" />
    </operation>
    <operation name="echoDouble" parameterOrder="body">
      <input message="tns:echoDouble" />
      <output message="tns:echoDoubleResponse" />
    </operation>
    <operation name="echoBoolean" parameterOrder="body">
      <input message="tns:echoBoolean" />
      <output message="tns:echoBooleanResponse" />
    </operation>
    <operation name="echoByte" parameterOrder="body">
      <input message="tns:echoByte" />
      <output message="tns:echoByteResponse" />
    </operation>
    <operation name="echoQName" parameterOrder="body">
      <input message="tns:echoQName" />
      <output message="tns:echoQNameResponse" />
    </operation>
    <operation name="echoDateTime" parameterOrder="body">
      <input message="tns:echoDateTime" />
      <output message="tns:echoDateTimeResponse" />
    </operation>
    <operation name="echoBase64Binary" parameterOrder="body">
      <input message="tns:echoBase64Binary" />
      <output message="tns:echoBase64BinaryResponse" />
    </operation>
    <operation name="echoHexBinary" parameterOrder="body">
      <input message="tns:echoHexBinary" />
      <output message="tns:echoHexBinaryResponse" />
    </operation>
    <!-- ############################################################### -->
    <!-- These are used in conjuction with the complex types that are    -->
    <!-- array elements                                                  -->
    <!-- ############################################################### -->
    <operation name="echoStringArray" parameterOrder="body">
      <input message="tns:echoStringArray" />
      <output message="tns:echoStringArrayResponse" />
    </operation>
    <operation name="echoIntegerArray" parameterOrder="body">
      <input message="tns:echoIntegerArray" />
      <output message="tns:echoIntegerArrayResponse" />
    </operation>
    <operation name="echoIntArray" parameterOrder="body">
      <input message="tns:echoIntArray" />
      <output message="tns:echoIntArrayResponse" />
    </operation>
    <operation name="echoLongArray" parameterOrder="body">
      <input message="tns:echoLongArray" />
      <output message="tns:echoLongArrayResponse" />
    </operation>
    <operation name="echoShortArray" parameterOrder="body">
      <input message="tns:echoShortArray" />
      <output message="tns:echoShortArrayResponse" />
    </operation>
    <operation name="echoDecimalArray" parameterOrder="body">
      <input message="tns:echoDecimalArray" />
      <output message="tns:echoDecimalArrayResponse" />
    </operation>
    <operation name="echoFloatArray" parameterOrder="body">
      <input message="tns:echoFloatArray" />
      <output message="tns:echoFloatArrayResponse" />
    </operation>
    <operation name="echoDoubleArray" parameterOrder="body">
      <input message="tns:echoDoubleArray" />
      <output message="tns:echoDoubleArrayResponse" />
    </operation>
    <operation name="echoBooleanArray" parameterOrder="body">
      <input message="tns:echoBooleanArray" />
      <output message="tns:echoBooleanArrayResponse" />
    </operation>
    <operation name="echoByteArray" parameterOrder="body">
      <input message="tns:echoByteArray" />
      <output message="tns:echoByteArrayResponse" />
    </operation>
    <operation name="echoQNameArray" parameterOrder="body">
      <input message="tns:echoQNameArray" />
      <output message="tns:echoQNameArrayResponse" />
    </operation>
    <operation name="echoDateTimeArray" parameterOrder="body">
      <input message="tns:echoDateTimeArray" />
      <output message="tns:echoDateTimeArrayResponse" />
    </operation>
  </portType>
  <binding name="MarshallTestBinding" type="tns:MarshallTest">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="echoString">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoInteger">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoInt">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoLong">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoShort">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoDecimal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoFloat">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoDouble">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoBoolean">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoByte">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoQName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoDateTime">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoBase64Binary">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoHexBinary">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <!-- ############################################################### -->
    <!-- These are used in conjuction with the complex types that are    -->
    <!-- array elements						     -->
    <!-- ############################################################### -->
    <operation name="echoStringArray">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoIntegerArray">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoIntArray">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoLongArray">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoShortArray">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoDecimalArray">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoFloatArray">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoDoubleArray">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoBooleanArray">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoByteArray">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoQNameArray">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoDateTimeArray">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MarshallTestService">
    <port name="MarshallTestPort" binding="tns:MarshallTestBinding">
      <soap:address location="http://foo:9999/bar" />
    </port>
  </service>
</definitions>

