webservices12/src/main/java/com/sun/ts/tests/webservices12/wsdlImport/file/shared1/server/Shared1FileSvc1.wsdl

<?xml version="1.0"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions name="Shared1FileSvc"
             targetNamespace="http://Shared1FileSvc1.org/wsdl"
             xmlns:tns="http://Shared1FileSvc1.org/wsdl"
             xmlns:xsd1="http://Shared1FileSvc.org/xsd"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

  <types>
    <xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified">
      <xsd:import namespace="http://Shared1FileSvc.org/xsd" schemaLocation="type/Shared.xsd"/>
    </xsd:schema>
  </types>

  <message name="InvokeTest1"/>
  <message name="InvokeTest1Response">
    <part name="result" element="xsd1:Astring"/>
  </message>
  <portType name="Tests1">
    <operation name="invokeTest1" >
      <input message="tns:InvokeTest1"/>
      <output message="tns:InvokeTest1Response"/>
    </operation>
  </portType>
  <portType name="Tests11">
    <operation name="invokeTest11" >
      <input message="tns:InvokeTest1"/>
      <output message="tns:InvokeTest1Response"/>
    </operation>
  </portType>
  <binding name="Tests1Binding" type="tns:Tests1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="invokeTest1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="Tests11Binding" type="tns:Tests11">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="invokeTest11">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Shared1FileSvc1">
    <port name="Tests1Port" binding="tns:Tests1Binding">
      <soap:address location="http://foo:9999/bar"/>
    </port>
    <port name="Tests11Port" binding="tns:Tests11Binding">
      <soap:address location="http://foo:9999/bar"/>
    </port>
  </service>


</definitions>
