src/com/sun/ts/tests/jaxrpc/ee/j2w/simpletest/SimpleTestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions name="SimpleTestService" targetNamespace="http://simpletestservice.org/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://simpletestservice.org/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
  </types>
  <message name="Hello_helloResponse">
    <part name="result" type="xsd:string"/>
  </message>
  <message name="Hello_hello">
    <part name="String_1" type="xsd:string"/>
  </message>
  <message name="Hello_helloOneWay">
    <part name="String_1" type="xsd:string"/>
  </message>
  <portType name="Hello">
    <operation name="hello" parameterOrder="String_1">
      <input message="tns:Hello_hello"/>
      <output message="tns:Hello_helloResponse"/>
    </operation>
    <operation name="helloOneWay">
      <input message="tns:Hello_helloOneWay"/>
    </operation>
  </portType>
  <binding name="HelloBinding" type="tns:Hello">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpletestservice.org/wsdl"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpletestservice.org/wsdl"/>
      </output>
    </operation>
    <operation name="helloOneWay">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://simpletestservice.org/wsdl"/>
      </input>
    </operation>
  </binding>
  <service name="SimpleTestService">
    <port name="HelloPort" binding="tns:HelloBinding">
      <soap:address location="http://localhost:8080/J2WST/jaxrpc/Hello"/>
    </port>
  </service>
</definitions>
